<footer class="footer">
    <div class="container">
        <div class="col-sm-6">
            <a href="https://www.reddit.com/message/compose/?to=lyrgard" target="_blank">Send me a message on reddit</a>
            <br>
            <a href="https://discord.gg/rgXnjhP" target="_blank">chat on FFBE Equip discord server</a>
        </div>
        <div class="col-sm-6">
            <a href='https://ko-fi.com/Lyrgard' target="_blank">Donate</a>
            <br>
            <a data-server="JP" href='https://exviusdb.com/' target="_blank">JP units and items images are a courtesy of EXVIUS DB</a>
        </div>
    </div>
</footer>
