.vagrant/
.vscode/
.nyc_output/
coverage/
dist/
node_modules/
googleOAuth/
/tools/ansible/deploy_rsa
/tools/skills.json
/tools/equipment.json
/tools/units.json
/tools/materia.json
/tools/unitsWithPassives.json
tools/GL/sources/
tools/JP/sources/
.config.json
*.log
static/GL/corrections.json
static/JP/corrections.json
static/ffbeEquipNG/
.idea
