.nyc_output/
coverage/
node_modules/
googleOAuth/
/tools/ansible/deploy_rsa
/tools/skills.json
/tools/equipment.json
/tools/units.json
/tools/materia.json
/tools/unitsWithPassives.json
tools/JP/sources/
.config.json
*.log
