ul {
    list-style-type: none;
    padding-left: 0;
}
.btn-default.active {
    border-color: black;
    background-color: #337ab7;
    color: aliceblue;
}
.btn-default.active.focus {
    border-color: black;
    background-color: #337ab7;
    color: aliceblue;
}
.btn-default.active:hover {
    border-color: black;
    background-color: #438ac7;
}
#results {
    margin-bottom: 0;
}
#results tbody tr td {
    vertical-align: middle;
}
#results .value {
    font-weight: bold;
}
#results .detail {
    font-size: 0.8em;
}
#results.notSorted .sort {
    display:none;
}
#statTitle {
    text-transform: uppercase;
}
.miniIcon {
    position: absolute;
    width: 22px;
    margin-top: 19px;
    margin-left: 19px;
    border-radius: 11px;
}
.miniIcon.left {
    margin-left: 1px;
}
.detail {
    text-transform: uppercase;
}
.notSelected {
    opacity: 0.5;
}
.forbiddenAccess {
    text-decoration:line-through;
}
.buttonLink {
    cursor: pointer;
    margin-left: 10px;
    font-size: 0.9em;
    white-space:nowrap;
}
.noWrap {
    white-space:nowrap;
}
.imageWithText {
    margin-right : 2px;
}
mark {
    background-color: #c5c5f5;
    padding: 0;
}
.exclusive {
    font-weight: bold;
}

#donateLink {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
    font-size: 0.9em;
    margin-left: 10px;
    color: #337ab7;
    text-decoration: none;
}

#donateLink:hover {
    text-decoration:underline;
}

body {
    padding-top: 15px;
}

.unit .col-xs-12 {
	padding:0;
}
.unit .col-md-6 {
	padding:0;
}

.unit .input-group {
	width: 100%;
}

.unit .input-group-addon {
	width: 60px;
	padding: 0;
}

.form-inline {
    margin-bottom: 0;
}

.outclassedByIcon {
	width: 20px;
	vertical-align: text-bottom;
	margin-left: 2px;
}

#hideAdvancedSearchButton {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 11;
    background-color: green;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    outline:none;
}

#hideAdvancedSearchButton span {
    font-size: 80px !important;
    color: white;
}

#filterSummary {
    position: fixed;
    right: -5px;
    top: 160px;
    z-index: 10;
}
#filterSummary img {
    display: block;
}

@media (max-width: 991px) {
    body, span, a, table, label, input, select{font-size: 28px!important; }
    .form-control {height: 46px;}
    .choice .btn img {width: 64px;}
    #results img, #filterSummary img {width: 52px;}
    #results img.miniIcon {
        width: 32px;
        margin-top: 24px;
        margin-left: 24px;
        border-radius: 14px;
    }
}

@media (min-width: 992px) {
    #advancedSearch {
        display: block !important;
    }
}
