ul {
    list-style-type: none;
    padding-left: 0;
}
.btn-default.active {
    border-color: black;
    background-color: #337ab7;
    color: aliceblue;
}
.btn-default.active.focus {
    border-color: black;
    background-color: #337ab7;
    color: aliceblue;
}
.btn-default.active:hover {
    border-color: black;
    background-color: #438ac7;
}
#results {
	display: table;
	border-spacing: 0;
	border-collapse: collapse;
	margin-bottom: 0;
	font-size: 16px;
}
#results .thead {
	display: table-header-group;
}
#results .thead  .tr .td {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
	padding: 8px;
	line-height: 1.42857143;
	text-align: left;
	font-weight: bold;
}
#results .tbody {
	display: table-row-group;
}
#results .tr  {
	display: table-row;
}
#results .tr .td {
	display: table-cell;
    vertical-align: middle;
}
#results .tbody .tr .td, #results {
	padding: 8px;
	line-height: 1.42857143;
	border-top: 1px solid #ddd;
}
#results .value {
    font-weight: bold;
}
#results .detail {
    font-size: 0.8em;
}
#results.notSorted .sort {
    display:none;
}
#statTitle {
    text-transform: uppercase;
}
.miniIcon {
    position: absolute;
    width: 22px;
    margin-top: 19px;
    margin-left: 19px;
    border-radius: 11px;
}
.specialImg {
    margin-bottom: 5px;
    text-transform: capitalize;
}
.miniIcon.left {
    margin-left: 1px;
}
.detail {
    text-transform: uppercase;
}
.notSelected {
    opacity: 0.5;
}
.forbiddenAccess {
    text-decoration:line-through;
}
.buttonLink {
    cursor: pointer;
    margin-left: 10px;
    font-size: 0.9em;
    white-space:nowrap;
}
.noWrap {
    white-space:nowrap;
}
.imageWithText {
    margin-right : 2px;
}
mark {
    background-color: #c5c5f5;
    padding: 0;
}
.exclusive {
    font-weight: bold;
}

body {
    padding-top: 15px;
}

.unit .col-xs-12 {
	padding:0;
}
.unit .col-md-6 {
	padding:0;
}

.unit .input-group {
	width: 100%;
}

.unit .input-group-addon {
	width: 60px;
	padding: 0;
}
.unit .col-xs-6 {
    padding: 0;
}

.unit-rarity {
    display: inline-flex;
    margin-left: 20px;
}

.rarity-star {
    margin-left: 4px;
    width: 20px;
    height: 20px;
    background-image: url('./img/star_icon.svg');
    background-repeat: no-repeat;
}

.form-inline {
    margin-bottom: 0;
}

.outclassedByIcon {
	width: 20px;
	margin-left: 2px;
}

#hideAdvancedSearchButton {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 11;
    background-color: green;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    outline:none;
	border: 1px green;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#hideAdvancedSearchButton span {
    font-size: 80px !important;
    color: white;
}

#filterSummary {
    position: fixed;
    right: -5px;
    top: 160px;
    z-index: 10;
}
#filterSummary img {
    display: block;
}

.flex-form-group {
    display: flex !important;
    align-items: center;
}

.flex-form-group > select {
    margin-left: 4px;
}

@media (max-width: 991px) {
    body, span, a, table, label, input, select, img, div {font-size: 40px!important; }
    #results .name a {font-size: 44px!important; }
    #results span, #results a, #results div, #results img{
		font-size: 36px!important;
	}
    #results span, #results a, #results div, #results img{
		font-size: 36px!important;
	}
    .form-control {height: 54px;}
    .choice .btn img {width: 64px;}
    #results img, #filterSummary img {width: 52px;}
    #results img.outclassedByIcon {width: 30px;}
    #results .tbody .tr .td, #results {
        border-top: 3px solid #ddd;
        padding-top: 20px;
    }
    #results img.miniIcon {
        width: 32px;
        margin-top: 24px;
        margin-left: 24px;
        border-radius: 14px;
    }
	#results .thead .special{
		display: none;
	}
    #results .type{
		width: 60px;
		float: left;
		display: block;
	}
    #results .type img {
        padding-top: 5px;
    }
    #results .value {
		width: 100px;
		float: left;
		display: block;
	}
	#results .tr .td.name{
		width: calc(100% - 160px);
		float: left;
		display: block;
        
	}
    #results .tbody .tr .td.name{
        padding-bottom: 0;
    }   
    #results.notSorted .tr .td.name{
        width: calc(100% - 60px);
    }
    #results .tr {
        position: relative;
    }
	#results .tbody .tr .td.access{
		width: 20%;
        top: 0;
        right: 0;
        vertical-align: top;
	}
	#results .tbody .tr .special{
        padding-top: 0;
        padding-left: 68px;
		width: 80%;
		float: left;
		display: block;
		border-top: none;
		clear: left;
	}
	
	#results .tbody .tr .special .specialImg{
		display: inline-block;
		margin-right: 10px;
        margin-bottom: 0;
	}
    
    .imageWithText {
        margin-right: 10px;
    }
    
    .unit .input-group-addon {
	   width: 100px;
    }
}

@media (min-width: 992px) {
    #advancedSearch {
        display: block !important;
    }
}
