ul {
    list-style-type: none;
    padding-left: 0;
}
.btn-default.active {
    border-color: black;
    background-color: #337ab7;
    color: aliceblue;
}
.btn-default.active.focus {
    border-color: black;
    background-color: #337ab7;
    color: aliceblue;
}
.btn-default.active:hover {
    border-color: black;
    background-color: #438ac7;
}
#results {
    margin-bottom: 0;
}
#results tbody tr td {
    vertical-align: middle;
}
#results .value {
    font-weight: bold;
}
#results .detail {
    font-size: 0.8em;
}
#results.notSorted .sort {
    display:none;
}
#statTitle {
    text-transform: uppercase;
}
.miniIcon {
    position: absolute;
    width: 20px;
    margin-top: 17px;
    margin-left: 17px;
    border-radius: 10px;
}
.miniIcon.left {
    margin-left: 1px;
}
.detail {
    text-transform: uppercase;
}
.notSelected {
    opacity: 0.5;
}
.forbiddenAccess {
    text-decoration:line-through;
}
.buttonLink {
    cursor: pointer;
    margin-left: 10px;
    font-size: 0.9em;
    white-space:nowrap;
}
.noWrap {
    white-space:nowrap;
}
.imageWithText {
    margin-right : 2px;
}
mark {
    background-color: #c5c5f5;
    padding: 0;
}
.exclusive {
    font-weight: bold;
}

#donateLink {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
    font-size: 0.9em;
    margin-left: 10px;
    color: #337ab7;
    text-decoration: none;
}

#donateLink:hover {
    text-decoration:underline;
}

.container {
    padding-top: 15px;
}