<html lang="en">
    <head>
		<meta charset="UTF-8">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="common.css?version=3">
        <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        {% block stylesheet %}{% endblock %}
        <link rel="icon" type="image/png" href="/img/heavyArmor.png">
        <title>FFBE Equip</title>
    </head>
    <body>
        <div class="container-fluid">
            {% include "partials/header.njk" %}
        </div>
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
        {% include "partials/footer.njk" %}
		<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/mark.js/8.9.1/jquery.mark.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
		<script src="lib/jquery.ba-throttle-debounce.min.js"></script>
        <script src="lib/notify.min.js.txt"></script>
        <script src="constants.js"></script>
        <script src="common.js?version=8"></script>
        {% block script %}{% endblock %}
        <script src="googleAnalytics.js"></script>
    </body>
</html>
