.goal .panel-body .line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.goal .panel-body .line .goalLabel {
    width: 70px;
    min-width: 70px;
}

#elementalResists {
    margin-top: 10px;
    border-collapse: collapse;
    display: flex;
    flex-wrap: wrap;
}

#elementalResists .element {
    display: flex;
    margin-right: 5px;
}

#elementalResists .input-group {
    display: flex;
}

#elementalResists .element input {
    width: 60px;
    text-align: right;
}

#elementalResists input.buff, #monsterStats .buff {
    color: forestgreen;
}

#elementalResists input.debuff, #monsterStats .break {
    color: crimson;
}

.unitSelectDiv {
    width: 300px;
}

#multicastSkillsDiv {
    width: 300px;
    margin-left: 70px;
}

.progressBarDiv {
    width: 100%;
    background-color: grey;
}
.progressBar {
    width: 0%;
    height: 34px;
    background-color: #4CAF50;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 34px; /* To center it vertically */
    color: white;
}

.progressBar.finished {
    background-color: skyblue;
}

.unitAttackElement {
    margin-top: 10px;
}
.unitAttackElement .text-right {
    margin-top: 14px;
}
.magicalSkillType {
    margin-top: 10px;
}

.calculatorLink {
    margin-left:10px;
}

.buildDiv {
    padding: 5px;
    display: flex;
    flex-direction: row;
}

#buildDiv .panel-body {
    padding-left: 0;
    padding-right: 0;
}

#buildButton {
    margin-right: 5px;
    margin-left: 5px;
}

#fixItemModal .modal-header {
    display: flex;
    flex-direction: row;
    padding-right: 32px;
}

#fixItemModal .type .dropdown-menu {
    width: 268px;
    padding: 5px;
}


#fixItemModal .stat .dropdown-menu {
    width: 204px;
    padding: 5px;
}

#fixItemModal #results {
    display: block;
}

#fixItemModal .modal-body {
    padding:0;
}

#fixItemModal .results {
    padding: 0;
}

#fixItemResults {
    height: calc(100vh - 250px);
    overflow-y: scroll;
}

#fixItemModal .selectable:hover {
    cursor: pointer;
    background-color: antiquewhite;
}

#fixItemModal .modal-header .type {
    margin-left: 10px;
}
#fixItemModal .modal-header .stat {
    margin-left: 10px;
    margin-right: 10px
}
#fixItemModal .modal-header .dropdown {
    cursor: pointer;
}
#fixItemModal .modal-header .close {
    position: absolute;
    right: 10px;
    top: 10px;
}

#fixItemModal.notLoggedIn .inventory {
    display: none;
}

#fixItemModal .inventory .badge {
    background-color: green;
    color: white;
}

#fixItemModal .inventory .badge.notEnough {
    background-color: red;
    color: white;
}

#fixItemModal .modal-body .nav > li {
    cursor: pointer;
}

#fixItemModal .modal-body .nav > li.active {

}

#fixItemModal .modal-body .nav > li > a {
    padding: 2px 2px;
    opacity: 0.3;
    border-style: none;
}

#fixItemModal .modal-body .nav > li.active > a, #fixItemModal .modal-body .nav > li:hover > a {
    opacity: 1;
    background-color: white;
}

.conciseView .line .buildLine .td.actions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%
}

.td.actions .itemEnchantmentButton {
    margin-top: 2px;
    filter: grayscale(100%);
    opacity: 0.5;
}

.td.actions .itemEnchantmentButton:hover {
    filter: grayscale(0%);
    opacity: 1;
}

.td.actions img {
    width: 20px;
    cursor: pointer;
}

.td.actions i {
    cursor: pointer;
}

.td.actions .pin.fixed {
    color: limegreen;
}

.td.actions .pin.fixed:hover {
    opacity: 0.2;
}

.td.actions .pin.notFixed {
    opacity: 0.2;
}

.td.actions .pin.notFixed:hover {
    opacity: 1;
}

.td.actions .delete {
    opacity: 0.2;
}
.td.actions .delete:hover {
    opacity: 1;
}

.td.actions .excludeItem {
    margin-top: 2px;
    opacity: 0.2;
    text-align: center;
}
.td.actions .excludeItem:hover {
    opacity: 1;
    cursor: pointer;
    color: red;
}

.td.levels {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 4;
    border-top: none !important;
    display: flex;
    align-items: center;
    padding-top: 0;
}

.td.levels button.available {
    color: green;
}
.td.levels button.notEnough {
    color: red;
}

#resultStats {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#resultStats .stat {
    font-weight: bold;
    color: cornflowerblue;
}

#resultStats .value {
    font-weight: 100;
}

#resultStats .statToMaximize .value {
    font-weight: bold;
}

#resultStats .buildResult .resultLabel {
    font-weight: bold;
    font-size: 1.1em;
}

#resultStats .buildResult .calcValue .goal {
    font-weight: bold;
    font-size: 1.2em;
}

#resultStats .secondary {
    color: #777;
}

#resultStats .bonus {
    color: #999999;
}

#resultStats .resultLine {
    margin-left: 10px;
    clear: both;
    padding-top: 10px;
}

#resultStats .calcValue .goal {
    font-size: 1.1em;
    font-weight: bold;
}

#fixedItemsTitle {
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 10px;
}

#showBuilderSetupLinkDialog ul {
    list-style-type: circle;
    padding-left: 10px;
}


#showLinkDialog input {
    width: 100%;
}

#showBuilderSetupLinkDialog input {
    width: 100%;
}

.unitEquipable.armors {
    margin-bottom: 10px;
}

.unitEquipable {
    display: inline-block;
}

.unitEquipable .notEquipable {
    opacity: 0.2;
}

.unitEquipable i.img {
    width: 30px;
    height: 30px;
    position: relative;
}

.unitEquipable i.img .boostArrow {
    position: absolute;
    right: 2px;
    top: 1px;
    color: chartreuse;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    display: none;
}

.unitEquipable i.img.boost .boostArrow {
    display: initial;
}

#monsterStats {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

#monsterStats .input-group {
    display: flex;
    margin-right: 10px;
}

#monsterStats input {
    width: 70px;
    text-align: right;
}

#monsterStats .input-group-addon {
    width: 50px;
    line-height: 20px;
}


#buildResult {
    clear: both;
    width: 100%;
}

.line {
    display: table-row-group;
}

.conciseView .line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.buildLine {
    display: table-row;
    border-top: 1px solid #ddd;
    min-width: 250px;
}

.conciseView .buildLine {
    flex:1;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: none;
}

.line .buildLine .td {
    display: table-cell;
    vertical-align: middle;
    padding: 8px;
}

.conciseView .line .buildLine .td {
    padding: 0px;
}

.conciseView .line .buildLine .td.name {
    flex: 1;
}

.conciseView .line .buildLine .type {
    padding-right: 5px;
    padding-left: 5px;
}

.buildLine .change:hover {
    cursor: pointer;
    opacity: 0.7;
}

.buildLine .type.slot i.img {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%);
}

.buildLine .type.slot:hover i.img {
    -webkit-filter: none;
       -moz-filter: none;
         -o-filter: none;
        -ms-filter: none;
            filter: none;
}

i.img.img-slot-hand.leftHand {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.buildLine .slot {
    opacity: 0.2;
}

.buildLine .slot.type:hover {
    opacity: 0.3;
    cursor: pointer;
}

#pleaseSelectUnitMessage {
    padding: 10px;
}

#unitLink {
    margin-left: 20px;
}

#customFormulaModal .tokenList {
    margin-left: 20px;
}

#customFormulaModal .table .token{
    font-weight: bold;
}

#customFormulaModal ul {
    padding-left: 10px;
}

#customFormulaModal li {
    padding-top: 10px;
}

.goal .customGoalLinkSpan {
    margin-left: 10px;
}

.code {
    background-color: aliceblue;
    font-family: monospace;
    font-weight: bold;
    padding: 0 5px;
}

#resultStats .resists, #resultStats .killers {
    clear: both;
    padding-left: 30px;
    padding-top: 5px;
}

#resultStats .resists .elements {
    display: flex;
    flex-wrap: wrap;
}
#resultStats .resists .ailments {
    display: flex;
    flex-wrap: wrap;
}

#resultStats .resists .resist {
    position: relative;
}

#resultStats .resists .resist .value{
    position: absolute;
    color: white;
    font-weight: bold;
    z-index: 5;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#resultStats .killers .killerValueGroup i.img,
#resultStats .resists .resist i.img {
    height: 40px;
    width: 40px;
}

#resultStats .resists .resist.statToMaximize .value {
    color: chartreuse;
}

#resultStats .killers .killerValueGroup {
    margin-right: 5px;
}

.checkboxGroup {
    display: flex;
    align-items: end;
}

.checkboxGroup label {
    padding-left: 5px;
    margin-bottom: 0px;
    font-weight: 100;
}

.unitStats .stat {
    display: flex;
    float: left;
    width: 50%;
    padding: 2px;
}

.unitStats .stat input {
    text-align: right;
}
.unitStats .stat .baseStat {
    flex: 2;
}
.unitStats .stat.lbFillRate .baseStat,.unitStats .stat.lbShardsPerTurn .baseStat, .unitStats .stat.pMitigation .baseStat, .unitStats .stat.mMitigation .baseStat, .unitStats .stat.mitigation .baseStat, .unitStats .stat.drawAttacks .baseStat, , .unitStats .stat.lbDamage .baseStat   {
    flex: 3;
}

.unitStats .stat .pots {
    flex: 1;
}

.potSwitcher {
    padding: 2px 6px;
    margin-left: 10px;
}

.unitStats .stat .pots input.poted {
  color: darkgreen;
}
.unitStats .stat .pots input.maxPot {
  color: darkblue;
}
.unitStats .stat .pots input.door {
  color: darkred;
}
.unitStats .stat .pots input.maxDoor {
  color: darkmagenta;
}

.unitStats .stat .buff {
    flex: 1;
}

.unitStats .stat .baseStat input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.unitStats .stat .pots input{
    border-radius: 0;
}

.unitStats .stat.mp .pots input{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.unitStats .stat .buff input{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.inputWithIcon {
    position: relative;
}

.inputWithIcon .leftIcon {
    position: absolute;
    left: 5px;
    line-height: 34px;
    opacity: 0.6;
    z-index: 10;
}

.inputWithIcon img.leftIcon {
    width: 20px;
    top: 7px;
    left: 3px;
}

.unitStats .pots .leftIcon {
    cursor: pointer;
}

.inputWithIcon .rightIcon {
    position: absolute;
    right: 5px;
    line-height: 34px;
    opacity: 0.6;
    z-index: 2;
}

.inputWithIcon input {
    padding-left: 20px;
}

.inputWithIcon.withPercent input {
    padding-right: 20px;
}

.monsters .tr:hover .td {
    cursor: pointer;
    background-color: skyblue;
}body.dark #fixItemModal .selectable:hover {

     background-color:

         #464545;

 }

.monsters .tr .td {
    padding: 5px;
    border-top: 1px solid #ddd;
}

#coreUsage {
    display: flex;
    align-items: center;
}

#coreUsage input {
    width: 40px;
}

#coreUsage span {
    margin-right: 5px;
    margin-left: 5px;
}

#unitTabs.nav > li > a > img {
    height: 38px;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: -10px;
}

.braveShiftButton {
    margin-left: auto;
    opacity: 0.5;
    cursor: pointer;
    display: none;
}

.unit.braveShift .braveShiftButton {
    display: block;
}

.braveShiftButton:hover {
    opacity: 1;
}

.braveShiftButton:active {
    opacity: 0.5;
}

#help ul {
    list-style-type: initial;
    margin-left: 25px;
    margin-bottom: 10px;
}

#help ul ul {
    list-style-type: '- ';
}

.closeTab {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    color: gray;
    cursor: pointer;
    display: none;
}

.nav-tabs > li.active:hover .closeTab {
    display: block;
}

.results .enchantement img {
    cursor: pointer;
}

#backToAllItems {
    display: none;
}

#fixItemModal .enchantment .enchantment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#fixItemModal .enchantment .badge {
    margin-top: 5px;
}


#fixItemModal .inventory {
    width: 30px;
}

#fixItemModal .exclude, #fixItemModal .include {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fixItemModal .results .td.mobile .menu {
    position: relative;
}

#fixItemModal .modal-header .checkboxGroup {
    margin-right: 30px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

#fixItemModal .modal-header .checkboxGroup input{
    margin: 0 3px 0 0;
}

#fixItemModal .modal-header .searchBoxAndSortDiv {
    display: flex;
    flex:1;
}

.customEnchantment {
    display: none;
    border-top: 1px solid #ddd;
    padding: 10px;
    font-size: 24px;
    justify-content: center;
}

.customEnchantment img {
    margin-left: 10px;
}

.showEnhancements #backToAllItems {
    display: block;
}

.showEnhancements .customEnchantment {
    display: flex;
}

.showEnhancements #searchText, .showEnhancements .dropdown.stat, .showEnhancements .nav.nav-tabs.type, .showEnhancements .enchantment, .showEnhancements .inventory {
    display: none !important;
}

#customFormulaModal .dropdown-submenu.firstLevel > .dropdown-menu {
    left: initial;
    right:100%;
}

#savedTeamPanel .panel-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.savedTeam {
    padding: 5px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.savedTeam .name {
    font-weight: bold;
}

.savedTeam .btn {
    border: 1px solid lightgray;
    margin-left: 5px;
}
.savedTeam .btn:hover {
    background-color: #CDCDCD;
}

.glassPanel {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    opacity: 0.1;
    background-color: black;
    z-index: 100;
    cursor: wait;
    display: none;
}

.building .glassPanel {
    display: block;
}

/* elements visible over the glasspanel */
.building #detailedViewLink, .building #conciseViewLink, .building #buildButton, .building #buildResult .wikiLink,
.building #unitLink, .building .footerButtons a {
    z-index: 110;
}

.building #buildButton, .building #detailedViewLink a, .building #conciseViewLink a, .building #buildResult .wikiLink,
.building #unitLink, .building .footerButtons a {
    box-shadow: 0 0 5px 5px #FFFFFF;
}

.building #detailedViewLink a, .building #conciseViewLink a, .building #buildResult .wikiLink,
.building #unitLink, .building .footerButtons a {
    background-color: white;
}

.buildLinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.stat i.img.statChoice {
    width: 36px;
    height: 36px;
}

.stat .dropdown-menu i.img {
    width: 32px;
    height: 32px;
}

.sort-type img,
.sort-type i.img {
    width: 36px;
    height: 36px;
}

.goalLine {
    margin-top: 5px;
}

.buildRules .section {
    display: flex;
    margin-bottom: 5px;
}

.buildRules .section .title {
    width: 100px;
}

.goal .section {
    display: flex;
    margin-top: 5px;
}

.goal .section .title {
    width: 120px;
    min-width: 120px;
}

.goal .section .title:not(.btn) {
    margin-top: 12px;
}

.goal .section .title.btn {
    height: 34px;
    margin-top: 6px;
    margin-left: -6px;
    margin-right: 6px;
}

.goal .section.chainMultiplier input {
    width: 100px;
}

.select2-results__option,
.select2-selection__rendered {
    position: relative;
}

.select2-results__option img.selectIcon,
.select2-selection__rendered img.selectIcon {
    width: 24px;
    height: 24px;
}

.select2-results__option[aria-disabled="true"] img.selectIcon {
    filter: grayscale(100%);
}

.select2-results__option .selectTag,
.select2-selection__rendered .selectTag {
    display: block;
    position: absolute;
    opacity: 0.85;
    right: 4px;
    background-color: #808080;
    color: #ffffff;
    border-radius: 3px;
    font-size: 0.65em;
    font-weight: bold;
    padding: 2px 4px;
}

.select2-results__option .skillTag,
.select2-selection__rendered .skillTag {
    background-color: #6a991d;
    top: 10px;
}

.select2-results__option .magicTag,
.select2-selection__rendered .magicTag {
    background-color: darkcyan;
    top: 10px;
}

.select2-results__option .multicastTag,
.select2-selection__rendered .multicastTag {
    background-color: blue;
    top: 10px;
}

.select2-results__option .notSupportedTag,
.select2-selection__rendered .notSupportedTag {
    background-color: #808080;
    top: 10px;
}

.select2-results__option .lbTag,
.select2-selection__rendered .lbTag {
    background-color: #723232;
    top: 10px;
}

.select2-results__option .damageTag,
.select2-selection__rendered .damageTag {
    background-color: #b38900;
    top: 6px;
}

.select2-results__option .statTag,
.select2-selection__rendered .statTag {
    background-color: #2d89a0;
    top: 6px;
}

.select2-selection__rendered .selectTag {
    top: 2px;
}

.upgradedSkillIcon {
    font-weight: bold;
    color: darkorange;
}

.selectSkillItem {
    display: flex;
}

.normalGoalChoices.select {
    width: 300px;
}

.select2-container {
    padding: 0;
    width: 100% !important;
}

#simpleConditionsButton {
    padding: 0px 4px;
    height: 22px;
    margin-top: 5px;
}

#simpleConditionsButton[aria-expanded=true] .glyphicon-plus {
   display: none;
}
#simpleConditionsButton[aria-expanded=false] .glyphicon-minus {
   display: none;
}

#simpleConditionsList {
    margin-left: 10px;
}

#paramChallengeButton {
    margin-left: 10px;
}

#forcedElements {
    flex:1
}

#ailmentImunities {
    flex:1
}

.goal .elements {
    display: flex;
    flex-wrap: wrap;
}

.goal .elements .element {
    display: flex;
    width: 100px;
}

.goal .elements .element input {
    width: 50px;
}

.unitStack {
    margin-top: 5px;
}

#negativeBreakImperilWarning {
    margin-bottom: 10px;
}

#negativeBreakImperilWarning .label {
    white-space: normal;
    font-size: 12px;
}

.experimentalTag {
    display: inline-block;
    background-color: #474747;
    color: #ffffff;
    border-radius: 3px;
    font-size: 0.7em;
    font-weight: bold;
    padding: 2px 6px;
    margin-left: 6px;
    vertical-align: middle;
    margin-bottom: 2px;
}

#defaultWeaponEnhancement {
    display: flex;
    align-items: center;
}

#defaultWeaponEnhancement .display {
    margin-left: 5px;
    margin-right: 5px;
}

#defaultWeaponEnhancement .btn {
    padding: 0 6px;
}

.paramChallenge button {
    margin-left: 10px;
    margin-right: 10px;
}

.quotaWarning {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.unitEquipable .img {
    cursor: pointer;
}

.unitEquipable .img.banned::after {
    content: "\e090";
    color: red;
    font-family: 'Glyphicons Halflings';
    font-size: 24px;
    font-style: initial;
    left: 2px;
    position: relative;
    top: -1px;
}

.buildCounterDiv {
    font-size: 0.9em;
    margin-left: 80px;
    margin-top: -5px;
}

.buildRules .select2-selection {
    height: 24px;
    padding: 1px 10px;
}

.goalVarianceDiv {
    display: flex;
}

.goalVarianceDiv .goalLabel {
    margin-right: 5px;
}

#fixItemModal .mobile {
    display: none;
}

.select2-dropdown .checkbox-label {
    margin-top: 2px;
    margin-left: 5px;
}

.killerBuffs, .elementBuffs, .weaponImperils {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.weaponImperilsContainer {
    margin-top: 10px;
    margin-bottom: 5px;
}

.weaponImperilsContainer .line {
    display: flex;
    align-items: center;
}

#weaponImperilsSwitch, .weaponImperilsSummary, .weaponImperils {
    margin-bottom: 5px;
}

#weaponImperilsSwitch {
    flex-shrink: 0;
}

.weaponImperilsSummary {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.weaponImperilsSummary .value {
    margin-right: 5px;
}
.weaponImperilsSummary i.img {
    height: 38px;
    width: 34px;
}


.killerBuff, .elementBuff, .weaponImperil {
    display: flex;
    margin-right: 5px;
}

.killerBuff i.img, .elementBuffs i.img {
    height: 38px;
    width: 34px;
    margin-right: -8px;
    z-index: 2;
}

.weaponImperils i.img {
    height: 38px;
    width: 34px;
    margin-right: -6px;
    z-index: 2;
    margin-top: -2px;
}

.killerBuff input, .elementBuff input, .weaponImperil input {
    width: 70px;
    text-align: right;
}

.killerBuff .inputWithIcon .leftIcon, .elementBuff .inputWithIcon .leftIcon, .weaponImperil .inputWithIcon .leftIcon {
    left: 7px;
}

#killerBuffSwitch i {
    margin-right: 5px;
}

#fixItemModal .items .tbody {
    display: block;
    max-height: 500px;
}

.itemInclusionDiv, .itemExclusionDiv {
    display: flex;
}

.itemInclusionDiv > div, .itemExclusionDiv > div {
    margin-right: 30px;
}




#fixItemModal .selectable.itemWrapper {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(229, 229, 229);
}

#fixItemModal .item {
    display: grid;
    grid-template-columns: 64px auto 50px;
    flex-grow: 1;
}


#fixItemModal .item .td.type {
    padding-top: 0;
    padding-bottom: 0;
    grid-row-start: 1;
    grid-row-end: 4;
}

#fixItemModal .item .td.special {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 2;
    border-top: none !important;
    padding-top: 0;
}

#fixItemModal .item .td.special.empty {
    display: none;
}

#fixItemModal .item .td.special li > .skill {
    padding-left: 30px;
    display: block;
    position: relative;
}

#fixItemModal .item .td.special li > .skill img {
    position: absolute;
    top: -4px;
    left: -4px;
    margin-top: 0;
    margin-bottom: 0;
}

#fixItemModal .item .td.special ul {
    margin-bottom: 0;
}

#fixItemModal .item .td.special .img.withMiniIcon, #fixItemModal .item .td.special .killerValueGroup i {
    width: 32px;
    height: 32px;
}

#fixItemModal .item .td.special .img.miniIcon {
    width: 18px;
    height: 18px;
    margin-top: 14px;
    margin-left: 16px;
}

#fixItemModal .item .td.special li:not(:last-child) {
    margin-bottom: 5px;
}

#fixItemModal .item .specialValueItem {
    margin: 0;
}

#fixItemModal .item .td.special .icon {
    margin-bottom: -10px;
    margin-top: -14px;
}

#fixItemModal .item .td.access {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 3;
    border-top: none !important;
    display: flex;
    align-items: center;
    padding-top: 0;
}

#fixItemModal .item .td.access > div {
    margin-right: 10px;
}

#fixItemModal .item .td.access > div.access {
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

#monsterAttack, #monsterAttackFormulaModal button{
    margin-top: 10px;
}

.chainMultComments {
    font-size: 12px;
    margin-left: 10px;
}



@media (max-width: 991px) {

    .panel.unit .panel-body {
        display: none;
    }

    .panel.monster {
        display: none;
    }

    .panel.equipments {
        display: none;
    }

    .expanded .panel.unit .panel-body {
        display: block;
    }

    .expanded .panel.monster {
        display: block;
    }

    .expanded .panel.equipments {
        display: block;
    }

    .unitStats .stat {
        width: 100%;
    }

    #fixItemModal .results .td.mobile .td.access {
        display: block;
    }

    #fixItemModal .results .td.mobile .dropdown-menu {
        padding: 0;
    }

    #fixItemModal .results .td.mobile .dropdown-menu li {
        margin-bottom: 5px;
        margin-left: 5px;
    }

    .goal .section .title {
        width: 50px;
        margin-top: 0px;
    }

    #fixItemModal .modal-header {
        flex-wrap: wrap;
    }

    #fixItemModal .td.mobile {
        display: table-cell;
    }

    #fixItemModal .td.enchantment, #fixItemModal .td.access, #fixItemModal .td.exclude, #fixItemModal .td.special  {
        display: none;
    }

    #fixItemModal.exclusion .td.exclude {
        display: table-cell;
    }

}
