.goal .panel-heading .line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.goal .panel-heading .line .goalLabel {
    width: 70px;
    min-width: 70px;
}

#elementalResists {
    margin-top: 10px;
    border-collapse: collapse;
    display: flex;
    flex-wrap: wrap;
}

#elementalResists .element {
    display: flex;
    margin-right: 5px;
}

#elementalResists .input-group {
    display: flex;
}

#elementalResists .element input {
    width: 60px;
    text-align: right;
}

#elementalResists input.buff {
    color: forestgreen;
    font-weight: bold;
}

#elementalResists input.debuff {
    color: crimson;
    font-weight: bold;
}

.unitSelectDiv {
    width: 300px;
}

#multicastSkillsDiv {
    width: 300px;
    margin-left: 70px;
}

.progressBarDiv {
    width: 100%;
    background-color: grey;
}
.progressBar {
    width: 0%;
    height: 34px;
    background-color: #4CAF50;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 34px; /* To center it vertically */
    color: white; 
}

.progressBar.finished {
    background-color: skyblue;
}

.unitAttackElement {
    margin-top: 10px;
}
.unitAttackElement .text-right {
    margin-top: 14px;
}
.magicalSkillType {
    margin-top: 10px;
}

.calculatorLink {
    margin-left:10px;
}

.result-tab-pane {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.buildDiv {
    padding: 5px;
    display: flex;
    flex-direction: row;
}

#buildButton {
    margin-right: 5px;
    margin-left: 5px;
}

#fixItemModal .modal-header {
    display: flex;
    flex-direction: row;
}

#fixItemModal .type .dropdown-menu {
    width: 268px;
    padding: 5px;
}


#fixItemModal .stat .dropdown-menu {
    width: 204px;
    padding: 5px;
}

#fixItemModal .modal-body {
    padding:0;
}

#fixItemModal .results .tr.selectable:hover {
    cursor: pointer;
    background-color: antiquewhite;
}

#fixItemModal .modal-header .type {
    margin-left: 10px;
}
#fixItemModal .modal-header .stat {
    margin-left: 10px;
    margin-right: 50px
}
#fixItemModal .modal-header .dropdown {
    cursor: pointer;
}
#fixItemModal .modal-header .close {
    position: absolute;
    right: 10px;
    top: 10px;
}

#fixItemModal.notLoggedIn .inventory {
    display: none;
}

#fixItemModal .inventory .badge {
    background-color: green;
    color: white;
}

#fixItemModal .inventory .badge.notEnough {
    background-color: red;
    color: white;
}

#fixItemModal .modal-body .nav > li {
    cursor: pointer;
}

#fixItemModal .modal-body .nav > li.active {
    
}

#fixItemModal .modal-body .nav > li > a {
    padding: 2px 2px;
    opacity: 0.3;
    border-style: none;
}

#fixItemModal .modal-body .nav > li.active > a, #fixItemModal .modal-body .nav > li:hover > a {
    opacity: 1;
    background-color: white;
}

.conciseView .line .buildLine .td.actions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%
}

.td.actions .itemEnchantmentButton {
    margin-top: 2px;
    filter: grayscale(100%);
    opacity: 0.5;
}

.td.actions .itemEnchantmentButton:hover {
    filter: grayscale(0%);
    opacity: 1;
}

.td.actions img {
    width: 20px;
    cursor: pointer;
}

.td.actions .pin.fixed:hover {
    opacity: 0.2;
}

.td.actions .pin.notFixed {
    opacity: 0.2;
}

.td.actions .pin.notFixed:hover {
    opacity: 1;
}

.td.actions .delete {
    opacity: 0.2;
}
.td.actions .delete:hover {
    opacity: 1;
    cursor: pointer;
}

.td.actions .excludeItem {
    margin-top: 2px;
    opacity: 0.2;
    text-align: center;
}
.td.actions .excludeItem:hover {
    opacity: 1;
    cursor: pointer;
    color: red;
}

#resultStats {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#resultStats .stat {
    font-weight: bold;
    color: cornflowerblue;
}

#resultStats .value {
    font-weight: 100;
}

#resultStats .statToMaximize .value {
    font-weight: bold;
}

#resultStats .buildResult .resultLabel {
    font-weight: bold;
    font-size: 1.1em;
}

#resultStats .buildResult .calcValue .goal {
    font-weight: bold;
    font-size: 1.2em;
}

#resultStats .secondary {
    color: #777;
}

#resultStats .bonus {
    color: #999999;
}

#resultStats .resultLine {
    margin-left: 10px;
    clear: both;
    padding-top: 10px;
}

#resultStats .calcValue .goal {
    font-size: 1.1em;
    font-weight: bold;
}

#fixedItemsTitle {
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 10px;
}

#showBuilderSetupLinkDialog ul {
    list-style-type: circle;
    padding-left: 10px;
}


#showLinkDialog input {
    width: 100%;
}

#showBuilderSetupLinkDialog input {
    width: 100%;
}

.unitEquipable.armors {
    margin-bottom: 10px;
}

.unitEquipable {
    display: inline-block;
}

.unitEquipable .notEquipable {
    opacity: 0.2;
}

.unitEquipable i.img {
    width: 30px;
    height: 30px;
}

#monsterDefensiveStats {
    margin-bottom: 10px;
    display: flex;
}

#monsterDefensiveStats .input-group {
    display: flex;
    margin-right: 10px;
}

#monsterDefensiveStats input {
    width: 60px;
    text-align: right;
}

#monsterDefensiveStats .input-group-addon {
    width: 50px;
    line-height: 20px;
}


#buildResult {
    clear: both;
    width: 100%;
}

.line {
    display: table-row-group;
}

.conciseView .line {
    display: flex;
    flex-direction: row;
}

.buildLine {
    display: table-row;
    border-top: 1px solid #ddd;
}

.conciseView .buildLine {
    flex:1;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    border-top: none;
}

.line .buildLine .td {
    display: table-cell;
    vertical-align: middle;
    padding: 8px;
}

.conciseView .line .buildLine .td {
    padding: 0px;
}

.conciseView .line .buildLine .td.name {
    flex: 1;
}

.conciseView .line .buildLine .type {
    padding-right: 5px;
    padding-left: 5px;
}

.buildLine .change:hover {
    cursor: pointer;
    opacity: 0.7;
}

.buildLine .type.slot i.img {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%);
}

.buildLine .type.slot:hover i.img {
    -webkit-filter: none;
       -moz-filter: none;
         -o-filter: none;
        -ms-filter: none;
            filter: none;
}

i.img.img-slot-hand.leftHand {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.buildLine .slot {
    opacity: 0.2;
}

.buildLine .slot.type:hover {
    opacity: 0.3;
    cursor: pointer;
}

#pleaseSelectUnitMessage {
    padding: 10px;
}

#unitLink {
    margin-left: 20px;
}

#customFormulaModal .tokenList {
    margin-left: 20px;
}

#customFormulaModal .table .token{
    font-weight: bold;
}

#customFormulaModal ul {
    padding-left: 10px;
}

#customFormulaModal li {
    padding-top: 10px;
}

.goal .customGoalLinkSpan {
    margin-left: 10px;
}

.code {
    background-color: aliceblue;
    font-family: monospace;
    font-weight: bold;
    padding: 0 5px;
}

#resultStats .resists, #resultStats .killers {
    clear: both; 
    padding-left: 30px;
    padding-top: 5px;
}

#resultStats .resists .elements {
    display: flex;
}
#resultStats .resists .ailments {
    display: flex;
}

#resultStats .resists .resist {
    position: relative;
}

#resultStats .resists .resist .value{
    position: absolute;
    color: white;
    font-weight: bold;
    z-index: 5;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#resultStats .killers .killerValueGroup i.img,
#resultStats .resists .resist i.img {
    height: 40px;
    width: 40px;
}

#resultStats .resists .resist.statToMaximize .value {
    color: chartreuse;
}

#resultStats .killers .killerValueGroup {
    margin-right: 5px;
}

.checkboxGroup {
    display: flex;
    align-items: end;
}

.checkboxGroup label {
    padding-left: 5px;
    margin-bottom: 0px;
    font-weight: 100;
}

.unitStats .stat {
    display: flex;
    float: left;
    width: 50%;
    padding: 2px;
}

.unitStats .stat input { 
    text-align: right; 
}
.unitStats .stat .baseStat {
    flex: 2;
}
.unitStats .stat.lbFillRate .baseStat,.unitStats .stat.lbShardsPerTurn .baseStat, .unitStats .stat.pMitigation .baseStat, .unitStats .stat.mMitigation .baseStat, .unitStats .stat.mitigation .baseStat  {
    flex: 3;
}

.unitStats .stat .pots {
    flex: 1;
}

.unitStats .stat .buff {
    flex: 1;
}

.unitStats .stat .baseStat input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.unitStats .stat .pots input{
    border-radius: 0;
}
.unitStats .stat.hp .pots input, .unitStats .stat.mp .pots input{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.unitStats .stat .buff input{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.inputWithIcon {
    position: relative;
}

.inputWithIcon .leftIcon {
    position: absolute;
    left: 5px;
    line-height: 34px;
    opacity: 0.6;
    z-index: 10;
}

.unitStats .pots .leftIcon {
    cursor: pointer;
}

.inputWithIcon .rightIcon {
    position: absolute;
    right: 5px;
    line-height: 34px;
    opacity: 0.6;
}

.inputWithIcon input {
    padding-left: 20px;
}

.inputWithIcon.withPercent input {
    padding-right: 20px;
}

.monsters .tr:hover .td {
    cursor: pointer;
    background-color: skyblue;
}

.monsters .tr .td {
    padding: 5px;
    border-top: 1px solid #ddd;
}

#coreUsage {
    display: flex;
    align-items: center;
}

#coreUsage input {
    width: 40px;
}

#coreUsage span {
    margin-right: 5px;
    margin-left: 5px;
}

#unitTabs.nav > li > a > img {
    height: 38px;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: -10px;
}

#help ul {
    list-style-type: initial;
    margin-left: 25px;
    margin-bottom: 10px;
}

#help ul ul {
    list-style-type: '- ';
}

.closeTab {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    color: gray;
    cursor: pointer;
    display: none;
}

.nav-tabs > li.active:hover .closeTab {
    display: block;
}

.results .enchantement img {
    cursor: pointer;
}

#backToAllItems {
    display: none;
}

.td.enchantment .enchantment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#fixItemModal .results .td.enchantment .enchantment .badge {
    margin-top: 5px;
}

#fixItemModal .results .td.mobile .menu {
    position: relative;
}

.customEnchantment {
    display: none;
    border-top: 1px solid #ddd;
    padding: 10px;
    font-size: 24px;
    justify-content: center;
}

.customEnchantment img {
    margin-left: 10px;
}

.showEnhancements #backToAllItems {
    display: block;
}

.showEnhancements .customEnchantment {
    display: flex;
}

.showEnhancements #searchText, .showEnhancements .dropdown.stat, .showEnhancements .nav.nav-tabs.type, .showEnhancements .enchantment, .showEnhancements .inventory {
    display: none !important;
} 

#customFormulaModal .dropdown-submenu.firstLevel > .dropdown-menu {
    left: initial;
    right:100%;
}

#savedTeamPanel .panel-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.savedTeam {
    padding: 5px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.savedTeam .name {
    font-weight: bold;
}

.savedTeam .btn {
    border: 1px solid lightgray;
    margin-left: 5px;
}
.savedTeam .btn:hover {
    background-color: #CDCDCD;
}

.glassPanel {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    opacity: 0.1;
    background-color: black;
    z-index: 100;
    cursor: wait;
    display: none;
}

.building .glassPanel {
    display: block;
}

/* elements visible over the glasspanel */
.building #detailedViewLink, .building #conciseViewLink, .building #buildButton, .building #buildResult .wikiLink, 
.building #unitLink, .building .footerButtons a {
    z-index: 110;
}

.building #buildButton, .building #detailedViewLink a, .building #conciseViewLink a, .building #buildResult .wikiLink, 
.building #unitLink, .building .footerButtons a {
    box-shadow: 0 0 5px 5px #FFFFFF;
}

.building #detailedViewLink a, .building #conciseViewLink a, .building #buildResult .wikiLink, 
.building #unitLink, .building .footerButtons a {
    background-color: white;
}

.buildLinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.stat i.img.statChoice {
    width: 36px;
    height: 36px;
}

.stat .dropdown-menu i.img {
    width: 32px;
    height: 32px;
}

.sort-type img,
.sort-type i.img {
    width: 36px;
    height: 36px;
}

.goalLine {
    margin-top: 5px;
}

.buildRules .section {
    display: flex;
    margin-bottom: 5px;
}

.buildRules .section .title {
    width: 100px;
}

.goal .section {
    display: flex;
    margin-top: 5px;
}

.goal .section .title {
    width: 120px;
    min-width: 120px;
}

.goal .section .title:not(.btn) {
    margin-top: 12px;
}

.goal .section .title.btn {
    height: 34px;
    margin-top: 6px;
    margin-left: -6px;
    margin-right: 6px;
}

.select2-results__option,
.select2-selection__rendered {
    position: relative;
}

.select2-results__option img.selectIcon,
.select2-selection__rendered img.selectIcon {
    width: 24px;
    height: 24px;
}

.select2-results__option[aria-disabled="true"] img.selectIcon {
    filter: grayscale(100%);
}

.select2-results__option .selectTag,
.select2-selection__rendered .selectTag {
    display: block;
    position: absolute;
    opacity: 0.85;
    right: 4px;
    background-color: #808080;
    color: #ffffff;
    border-radius: 3px;
    font-size: 0.65em;
    font-weight: bold;
    padding: 2px 4px;
}

.select2-results__option .skillTag,
.select2-selection__rendered .skillTag {
    background-color: #6a991d;
    top: 10px;
}

.select2-results__option .magicTag,
.select2-selection__rendered .magicTag {
    background-color: darkcyan;
    top: 10px;
}

.select2-results__option .multicastTag,
.select2-selection__rendered .multicastTag {
    background-color: blue;
    top: 10px;
}

.select2-results__option .notSupportedTag,
.select2-selection__rendered .notSupportedTag {
    background-color: #808080;
    top: 10px;
}

.select2-results__option .lbTag,
.select2-selection__rendered .lbTag {
    background-color: #723232;
    top: 10px;
}

.select2-results__option .damageTag,
.select2-selection__rendered .damageTag {
    background-color: #b38900;
    top: 6px;
}

.select2-results__option .statTag,
.select2-selection__rendered .statTag {
    background-color: #2d89a0;
    top: 6px;
}

.select2-selection__rendered .selectTag {
    top: 2px;
}

.upgradedSkillIcon {
    font-weight: bold;
    color: darkorange;
}

.selectSkillItem {
    display: flex;
}

.simpleConditions {
    display: flex;
}

.normalGoalChoices.select {
    width: 300px;
}

.select2-container {
    width: 100% !important;
    padding: 0;
}

#simpleConditionsButton {
    padding: 0px 4px;
    height: 22px;
}

#simpleConditionsButton[aria-expanded=true] .glyphicon-plus {
   display: none;
}
#simpleConditionsButton[aria-expanded=false] .glyphicon-minus {
   display: none;
}

#simpleConditionsList {
    margin-left: 10px;
}

#forcedElements {
    flex:1
}

#ailmentImunities {
    flex:1
}

.goal .elements {
    display: flex;
    flex-wrap: wrap;
}

.goal .elements .element {
    display: flex;
    width: 100px;
}

.goal .elements .element input {
    width: 50px;
}

.unitStack {
    margin-top: 5px;
}

#negativeBreakImperilWarning {
    margin-bottom: 10px;
}

#negativeBreakImperilWarning .label {
    white-space: normal;
    font-size: 12px;
}

.experimentalTag {
    display: inline-block;
    background-color: #474747;
    color: #ffffff;
    border-radius: 3px;
    font-size: 0.7em;
    font-weight: bold;
    padding: 2px 6px;
    margin-left: 6px;
    vertical-align: middle;
    margin-bottom: 2px;
}

#defaultWeaponEnhancement {
    display: flex;
    align-items: center;
}

#defaultWeaponEnhancement .display {
    margin-left: 5px;
    margin-right: 5px;
}

#defaultWeaponEnhancement .btn {
    padding: 0 6px;
}

@media (max-width: 991px) {
    
    .panel.unit .panel-body {
        display: none;
    }
    
    .panel.monster {
        display: none;
    }
    
    .panel.equipments {
        display: none;
    }
    
    .expanded .panel.unit .panel-body {
        display: block;
    }
    
    .expanded .panel.monster {
        display: block;
    }
    
    .expanded .panel.equipments {
        display: block;
    }
    
    .unitStats .stat {
        width: 100%;
    }
    
    #fixItemModal .results .td.access {
        display: none;
    }
    
    #fixItemModal .results .td.mobile .td.access {
        display: block;
    }
    
    #fixItemModal .results .td.mobile .dropdown-menu {
        padding: 0;
    }
    
    #fixItemModal .results .td.mobile .dropdown-menu li {
        margin-bottom: 5px;
        margin-left: 5px;
    }
    
    .goal .section .title {
        width: 50px;
        margin-top: 0px;
    }
}