
:root {
    --search-color-background:#ffb3ba;
    --inventory-color-background:#baffc9;
    --units-color-background:#b19cd9;
    --espers-color-background:#bae1ff;
    --builder-color-background:#ffffba;
    --contribute-color-background:#ffffff;
}

#header {
    position: relative;
    padding-top: 30px;
    margin-bottom: 20px;
}

#header .bannerPicture,
#header .bannerPicturePerson {
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: auto 110px;
    background-repeat: no-repeat;
    z-index: -1;
}

#header .bannerPicture {
    background-image: url(/img/banner/banner_blank.png);
}

#header .bannerPicturePerson {
    left: 110px;
}

#header .bannerBackground {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    height: 83px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    z-index: -1;
}

#header .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;
    padding-left: 150px;
    padding-right: 12px;
}

#header .headerTitle {
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 300;
    color: white;
}

#header .headerTopButtons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 30px;
}

#header .switchServer {
    padding: 0 12px 0 16px;
}

#header .switchServer .btn {
    padding: 1px 8px;
}

#header .switchServer .notSelected {
    color: grey;
    opacity: 1;
}

#header .switchServer button.btn {
    margin-left: 0 !important;
}

#header.headerSakura .bannerPicturePerson {
    background-image: url(/img/banner/Sakura.png) ;
}
#header.headerSakura .headerContent {
    padding-left: 350px;
}

#header.headerLasswell .bannerPicturePerson {
    background-image: url(/img/banner/Lasswell.png) ;
}
#header.headerLasswell .headerContent {
    padding-left: 300px;
}

#header.headerJake .bannerPicturePerson {
    background-image: url(/img/banner/Jake.png) ;
}
#header.headerJake .headerContent {
    padding-left: 360px;
}

#header.headerRain .bannerPicturePerson {
    background-image: url(/img/banner/Rain.png) ;
}
#header.headerRain .headerContent {
    padding-left: 340px;
}

#header.headerNichol .bannerPicturePerson {
    background-image: url(/img/banner/Nichol.png) ;
}
#header.headerNichol .headerContent {
    padding-left: 330px;
}

#header.headerLid .bannerPicturePerson {
    background-image: url(/img/banner/Lid.png) ;
}
#header.headerLid .headerContent {
    padding-left: 325px;
}

#header.headerFina .bannerPicturePerson {
    background-image: url(/img/banner/Fina.png) ;
}
#header.headerFina .headerContent {
    padding-left: 330px;
}

#languages .lang {
    margin: 0 2px;
}

#languages .lang.selected {
    box-shadow: 0px 0px 5px 2px #3166ff;
}

#languages .lang:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px #d0d0d0;
}

#inventoryDiv {
    flex-shrink: 0;
}

#inventoryDiv button {
    height: 50px;
}

#inventoryDiv button.loadInventory {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

#inventoryDiv button.inventoryStatus {
    text-align: left;
    color: #333 !important;
    background-color: #fff !important;
    border-color: #ccc !important;
    cursor: auto !important;
    -ms-touch-action: auto;
    touch-action: auto;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    white-space: nowrap;
}

#inventoryDiv button.inventoryStatus .status {
    display: block;
    font-size: 0.85em;
    color: #aeaeae;
}

/* defaut is inventory not loaded */
#inventoryDiv button.logOut,
#inventoryDiv button.inventoryStatus .label,
#inventoryDiv button.inventoryStatus .loader,
#inventoryDiv button.inventoryStatus .status.loading,
#inventoryDiv button.inventoryStatus .status.loaded {
    display: none;
}
/* inventory loading */
#inventoryDiv.Inventoryloading button.loadInventory,
#inventoryDiv.Inventoryloading button.inventoryStatus .status.notLoaded,
#inventoryDiv.Inventoryloading button.inventoryStatus .status.loaded {
    display: none;
}
#inventoryDiv.Inventoryloading button.inventoryStatus,
#inventoryDiv.Inventoryloading button.inventoryStatus .status.loading,
#inventoryDiv.Inventoryloading button.inventoryStatus .loader {
    display: block;
}
#inventoryDiv.Inventoryloading button.inventoryStatus {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
/* inventory loaded */
#inventoryDiv.Inventoryloaded button.loadInventory,
#inventoryDiv.Inventoryloaded button.inventoryStatus .status.notLoaded {
    display: none;
}
#inventoryDiv.Inventoryloaded button.inventoryStatus,
#inventoryDiv.Inventoryloaded button.logOut,
#inventoryDiv.Inventoryloaded button.inventoryStatus .status.loaded {
    display: block;
}
#inventoryDiv.Inventoryloaded button.inventoryStatus .label {
    display: inline-block;
}

.navigationMenu .desktop {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 25px;
}

.navigationMenu .desktop a {
    display: inline;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 2px;
    margin-right: 5px;
    margin-bottom: 2px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    text-decoration: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
}

.navigationMenu .desktop a.active {
    border-color: #d1d2d5;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.navigationMenu .desktop a:hover {
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.05);
}

.navigationMenu .mobile {
    display: none;
}

.navigationMenu .mobile .menuToggle {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 12px;
    left: 20px;
    cursor: pointer;
}

.navigationMenu .mobile .menuToggle span {
    position: absolute;
    top: 90%;
    left: 50%;
    margin-left: -12px;
    color: white;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 
                 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    font-size: 24px;
}

.navigationMenu .mobile .dropdown-menu {
    left: 8px;
    margin-top: 8px;
}

.navbar {
    margin-top: 10px;
    margin-bottom: 34px;
}

h5 {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left: 0;
}
.btn-default.active {
    border-color: black;
    background-color: #337ab7;
    color: aliceblue;
}
.btn-default.active.focus {
    border-color: black;
    background-color: #337ab7;
    color: aliceblue;
}
.btn-default.active:hover {
    border-color: black;
    background-color: #438ac7;
}
.iconBtn {
    color: lightgrey;
    cursor: pointer;
}
.iconBtn:hover {
    color: black;
}
.items {
	display: table;
	border-spacing: 0;
	border-collapse: collapse;
	margin-bottom: 0;
	font-size: 16px;
}
.items .thead {
	display: table-header-group;
}
.items .thead  .tr .td {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
	padding: 8px;
	line-height: 1.42857143;
	text-align: left;
	font-weight: bold;
}
.items .tbody {
	display: table-row-group;
}
.items .tr  {
	display: table-row;
}
.items .tr.userInputed  {
	background-color: antiquewhite;
}
.items .tr .td {
	display: table-cell;
    vertical-align: middle;
}
.items .tbody .tr .td, .results {
	padding: 8px;
	line-height: 1.42857143;
	border-top: 1px solid #ddd;
}
.items .value {
    font-weight: bold;
}
.items .detail {
    font-size: 0.8em;
}
.items.notSorted .sort {
    display:none !important;
}
.item .enhancements {
    font-weight: bold;
    font-size: small;
    color: darkviolet;
    display: flex;
    align-items: center;
}

.item .enhancements img {
    height: 24px;
    margin-right: 5px;
}

#statTitle {
    text-transform: uppercase;
}

.miniIcon {
    position: absolute;
    width: 22px;
    height: 22px;
    margin-top: 19px;
    margin-left: 19px;
    border-radius: 5px;
}
.name .miniIcon {
    position: static;
    margin-top: 0;
    margin-left: 0;
    margin-right: 5px;
}
.miniIcon.left {
    margin-top: 30px;
    margin-left: 5px;
}
.miniIcon.left.excludeItem {
    position: relative;
    display: inline;
    color:grey;
    opacity: 0.5;
}
.miniIcon.left.excludeItem.true {
    color: red;
    opacity: 1.0;
}
.miniIcon.left.excludeItem.true:hover {
    color: red;
    opacity: 0.7;
}
.miniIcon.left.excludeItem.false:hover {
    opacity: 1.0;
}
.miniIcon.topRight {
    margin-left: 55px;
    margin-top: 55px;
}
.detail {
    text-transform: uppercase;
    display: inline;
}
.notSelected {
    opacity: 0.5;
}
.forbiddenAccess {
    text-decoration:line-through;
}
.buttonLink {
    cursor: pointer;
    margin-left: 10px;
    font-size: 0.9em;
    white-space:nowrap;
}
.footerButtons {
    margin: 15px 0;
}

.noWrap {
    white-space:nowrap;
}
.imageWithText {
    margin-right : 2px;
}
mark {
    background-color: #c5c5f5;
    padding: 0;
}
.exclusive {
    font-weight: bold;
}

.unit .col-xs-12 {
	padding:0;
}
.unit .col-md-6 {
	padding:0;
}
.unit .col-xs-6 {
    padding: 0;
}

.unit-rarity {
    display: inline-flex;
    margin-left: 20px;
}

.rarity-star {
    margin-left: 4px;
    width: 20px;
    height: 20px;
    background-image: url('./img/icons/star_icon.png');
    background-repeat: no-repeat;
    background-size: 20px;
}

.form-inline {
    margin-bottom: 0;
}

.outclassedByIcon {
	width: 20px;
	margin-left: 2px;
}

.sideBarButton {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 11;
    background-color: green;
    width: 75px;
    height: 75px;
    border-radius: 75px;
    outline:none;
	border: 1px green;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: right;
}

.sideBarButton span {
    font-size: 36px !important;
    color: white;
}

#filterSummary {
    position: fixed;
    right: -5px;
    top: 160px;
    z-index: 10;
}
#filterSummary img {
    display: block;
}

.flex-form-group {
    display: flex !important;
    align-items: center;
}

.flex-form-group > select {
    margin-left: 4px;
}

.userPseudo {
    font-size: 0.6em;
}

.td.type img.main {
    width: 38px;
    border-radius: 5px;
}

.td.type img.icon,
.td.type i.img.icon {
    width: 64px;
    height: 64px;
    border-radius: 5px;
}

img.icon {
    width: 38px;
    border-radius: 5px;
}

i.icon {
    width: 38px;
    height: 38px;
    border-radius: 5px;
}

.loader {
    border: 3px solid #ffffff; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    display: inline-block;
    vertical-align: middle;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.specialValueGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.specialValueItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2px;
}
.specialImg {
    display: flex;
    justify-content: center;
}
.specialValue {
    text-align: center;
    text-transform: capitalize;
}

.date {
    font-size: 1.2em;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
}

.link {
    cursor: pointer;
}

#loaderGlassPanel {
    position: fixed;
    left: 0;
    top: 0;  
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.3;
    z-index: 50;
}

#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 51;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.farmedButton {
    display: none;
}

.clickable {
    cursor: pointer;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropdown li {
    padding: 2px !important;
}

.dropdown ul {
    padding: 0 !important;
}

.caret-right {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid;
    display: inline-block;
    height: 0;
    width: 0;
    right: 10px;
    position: absolute;
    top: 10px;
}

.rarity {
    font-size: 0.9em;
    color: #747474;
}

.capitalize {
    text-transform:capitalize
}

.wikiLink {
    margin-left: 2px;
    font-size: 11px;
    line-height: 16px;
    vertical-align: baseline;
    color: blue;
}

.buildLink {
    margin-left: 10px;  
}

nav {
    height: 80px;
}

#navbar-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    float: left;
    justify-content: center;
    height: 80px;
    margin-left: 15px;
    color: #777;
}

#navbar-brand {
    font-size: 18px;
}

#navbar-page {
    font-size: 24px;
}

.navigationMenu .dropdown-menu li {
    height: 40px;
    font-size: 1.4em;
}

#showLinkDialog input {
    width: 100%;
}

.enhancementTypes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.enhancementType {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enhancementType .title {
    font-weight: bold;
}

.enhancementType .value {
    padding: 5px;
}

.enhancementType .value.selected {
    background-color: blue;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.enhancementType .value:hover {
    background-color: lightgray;
    border-radius: 10px;
    cursor: pointer;
}

#modifyEnhancementModal .modal-header .title.item {
    width: 400px;
    display: inline-flex;
}

.item.enhanced {
    border: 2px solid brown !important;
}

.choice .btn {
    padding: 3px 6px;
}

#scrollToTopButton {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #052464;
    opacity: 0.5;
    z-index: 9999;
}

#scrollToTopButton:hover {
    opacity: 1;
}

#scrollToTopButton span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
}

.ui-dialog .loginMessageDetail {
    font-size: 0.9em;
}

.alert .glyphicon {
    margin-right: 10px;
}

.alert.alert-inline {
    display: inline-block;
}

/* Lazyload workaround for Edge 
   See https://www.andreaverlicchi.eu/lazyload/#dealing-with-microsoft-edge-problems
*/
img[data-src] {
  display: block;
  min-height: 1px;
}

/* Image using backround image
 * Found in static/css-img folder
 */
i.img {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    vertical-align: middle;
}

i.img.inline {
    width: 26px;
    height: 26px;
}

@media (max-width: 991px) {

    /* Adapt scroll button with button sidebar */
    #scrollToTopButton.withButtonSideBar {
        bottom: 110px; /* 25px margin + 75px height + 10px */
        right: 37px; /* 25px margin + 75px width/2 - 50px width/2 */
    }
    
    nav.col-xs-12 {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    nav .dropdown-menu li {
        height: 48px;
    }
    
    .lang-xs.selected {
        box-shadow: 0px 0px 5px 2px white;
    }
    
    .navbar {
        margin-bottom: 16px;
    }
    
    .container-fluid {
        overflow: hidden;
    }

    #header .headerContent {
        padding-left: 110px;
    }

    #header .headerContent {
        height: 68px;
    }

    #header .bannerPicture,
    #header .bannerPicturePerson {
        background-size: auto 90px;
        top: 8px;
    }

    #header .bannerPicturePerson {
        left: 90px;
    }

    #header.headerSakura .headerContent {
        padding-left: 290px;
    }
    #header.headerLasswell .headerContent {
        padding-left: 240px;
    }
    #header.headerJake .headerContent {
        padding-left: 300px;
    }
    #header.headerRain .headerContent {
        padding-left: 280px;
    }
    #header.headerNichol .headerContent {
        padding-left: 270px;
    }
    #header.headerLid .headerContent {
        padding-left: 265px;
    }
    #header.headerFina .headerContent {
        padding-left: 270px;
    }

    #header .bannerBackground {
        display: none;
    }

    #header .headerTitle {
        font-size: 1.85em;
    }

}

@media (max-width: 768px) {

    .alert {
        padding: 8px;
        margin-bottom: 10px; 
    }
    .alert-dismissable, .alert-dismissible {
        padding-right: 28px;
    }
    .alert .glyphicon {
        margin-right: 6px;
    }

    #header .headerTitle {
        font-size: 1.6em;
    }

    .navigationMenu .desktop {
        display: none;
    }

    .navigationMenu .mobile {
        display: block;
    }

    .ui-dialog {
        left: 3% !important;
        width: 94% !important;
    }
    
    .container-fluid, 
    .col-xs-12 {
        padding-left: 10px;
        padding-right: 10px;
    }

    #header .bannerPicturePerson {
        background-size: auto 80px;
        top: 18px;
        left: 80px;
    }
    #header.headerSakura .headerContent {
        padding-left: 260px;
    }
    #header.headerLasswell .headerContent {
        padding-left: 210px;
    }
    #header.headerJake .headerContent {
        padding-left: 270px;
    }
    #header.headerRain .headerContent {
        padding-left: 250px;
    }
    #header.headerNichol .headerContent {
        padding-left: 240px;
    }
    #header.headerLid .headerContent {
        padding-left: 235px;
    }
    #header.headerFina .headerContent {
        padding-left: 240px;
    }
}

@media (max-width: 600px) {

    .alert.alert-inline {
        display: block;
    }

    #header .headerContent {
        height: 52px;
    }

    #header .headerContent,
    #header.headerSakura .headerContent,
    #header.headerLasswell .headerContent,
    #header.headerJake .headerContent,
    #header.headerRain .headerContent,
    #header.headerNichol .headerContent,
    #header.headerLid .headerContent,
    #header.headerFina .headerContent {
        padding-left: 85px;
    }

    #header .bannerPicture {
        background-size: auto 70px;
        top: 12px;
    }

    #header .bannerPicturePerson {
        display: none;
    }

    #languages .lang {
        margin: 0 1px;
    }

    #header .headerTitle {
        font-size: 1.2em;
        font-weight: bold;
    }

    #inventoryDiv button {
        height: 40px;
    }
    
    #inventoryDiv button.inventoryStatus {
        padding: 0 6px;
    }

    .navigationMenu .mobile .menuToggle {
        width: 65px;
        height: 62px;
        top: 16px;
        left: 16px;
    }

    .navigationMenu .mobile .dropdown-menu {
        margin-top: 15px;
    }
    
    .container-fluid, 
    .col-xs-12 {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 380px) {
    
    #inventoryDiv button.inventoryStatus,
    #inventoryDiv.Inventoryloading button.inventoryStatus .status.loading,
    #inventoryDiv.Inventoryloaded button.inventoryStatus .status.loaded {
        display: none;
    }
    
    #inventoryDiv button.inventoryStatus span,
    #inventoryDiv.Inventoryloaded button.inventoryStatus .label {
        display: block;
        margin-top: 3px;
    }

    #inventoryDiv button.loadInventory {
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
    }

    #header .headerTitle {
        font-size: 1em;
        font-weight: bold;
    }
}