:root {
    --search-color-background:#ffb3ba;
    --inventory-color-background:#baffc9;
    --units-color-background:#b19cd9;
    --espers-color-background:#bae1ff;
    --builder-color-background:#ffffba;
    --contribute-color-background:#ffffff;
    
}

.bannerImg {
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar {
    margin-top: 10px;
    margin-bottom: 34px;
}

.navbar-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}

.navbar-brand {
    padding: 0;
    height: 20px;
}

.lang-xs.selected {
    box-shadow: 0px 0px 5px 2px #3166ff;
}

.lang-xs:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px #d0d0d0;
}

h5 {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left: 0;
}
.btn-default.active {
    border-color: black;
    background-color: #337ab7;
    color: aliceblue;
}
.btn-default.active.focus {
    border-color: black;
    background-color: #337ab7;
    color: aliceblue;
}
.btn-default.active:hover {
    border-color: black;
    background-color: #438ac7;
}
.iconBtn {
    color: lightgrey;
    cursor: pointer;
}
.iconBtn:hover {
    color: black;
}
.items {
	display: table;
	border-spacing: 0;
	border-collapse: collapse;
	margin-bottom: 0;
	font-size: 16px;
}
.items .thead {
	display: table-header-group;
}
.items .thead  .tr .td {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
	padding: 8px;
	line-height: 1.42857143;
	text-align: left;
	font-weight: bold;
}
.items .tbody {
	display: table-row-group;
}
.items .tr  {
	display: table-row;
}
.items .tr.userInputed  {
	background-color: antiquewhite;
}
.items .tr .td {
	display: table-cell;
    vertical-align: middle;
}
.items .tbody .tr .td, .results {
	padding: 8px;
	line-height: 1.42857143;
	border-top: 1px solid #ddd;
}
.items .value {
    font-weight: bold;
}
.items .detail {
    font-size: 0.8em;
}
.items.notSorted .sort {
    display:none !important;
}
.item .enhancements {
    font-weight: bold;
    font-size: small;
    color: darkviolet;
    display: flex;
    align-items: center;
}

.item .enhancements img {
    height: 24px;
    margin-right: 5px;
}

#statTitle {
    text-transform: uppercase;
}
.miniIcon {
    position: absolute;
    width: 22px;
    margin-top: 19px;
    margin-left: 19px;
    border-radius: 5px;
}
.name .miniIcon {
    position: static;
    margin-top: 0;
    margin-left: 0;
    margin-right: 5px;
}
.miniIcon.left {
    margin-top: 30px;
    margin-left: 5px;
}
.miniIcon.topRight {
    margin-left: 55px;
    margin-top: 55px;
}
.detail {
    text-transform: uppercase;
    display: inline;
}
.notSelected {
    opacity: 0.5;
}
.forbiddenAccess {
    text-decoration:line-through;
}
.buttonLink {
    cursor: pointer;
    margin-left: 10px;
    font-size: 0.9em;
    white-space:nowrap;
}
.footerButtons {
    margin-top: 10px;
}

.noWrap {
    white-space:nowrap;
}
.imageWithText {
    margin-right : 2px;
}
mark {
    background-color: #c5c5f5;
    padding: 0;
}
.exclusive {
    font-weight: bold;
}

body {
    padding-top: 15px;
}

.unit .col-xs-12 {
	padding:0;
}
.unit .col-md-6 {
	padding:0;
}
.unit .col-xs-6 {
    padding: 0;
}

.unit-rarity {
    display: inline-flex;
    margin-left: 20px;
}

.rarity-star {
    margin-left: 4px;
    width: 20px;
    height: 20px;
    background-image: url('./img/star_icon.svg');
    background-repeat: no-repeat;
}

.form-inline {
    margin-bottom: 0;
}

.outclassedByIcon {
	width: 20px;
	margin-left: 2px;
}

.sideBarButton {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 11;
    background-color: green;
    width: 75px;
    height: 75px;
    border-radius: 75px;
    outline:none;
	border: 1px green;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: right;
}

.sideBarButton span {
    font-size: 36px !important;
    color: white;
}

#filterSummary {
    position: fixed;
    right: -5px;
    top: 160px;
    z-index: 10;
}
#filterSummary img {
    display: block;
}

.flex-form-group {
    display: flex !important;
    align-items: center;
}

.flex-form-group > select {
    margin-left: 4px;
}

.userPseudo {
    font-size: 0.6em;
}

.td.type img.main {
    width: 38px;
    border-radius: 5px;
}

.td.type img.icon {
    width: 64px;
    border-radius: 5px;
}

img.icon {
    width: 38px;
    border-radius: 5px;
}

.loader {
    border: 3px solid #ffffff; /* Light grey */
    border-top: 3px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    display: inline-block;
    vertical-align: middle;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.specialValueGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.specialValueItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2px;
}
.specialImg {
    display: flex;
    justify-content: center;
}
.specialValue {
    text-align: center;
    text-transform: capitalize;
}

.date {
    font-size: 1.2em;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
}

.link {
    cursor: pointer;
}

#loaderGlassPanel {
    position: fixed;
    left: 0;
    top: 0;  
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.3;
    z-index: 50;
}

#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 51;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.farmedButton {
    display: none;
}

.clickable {
    cursor: pointer;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropdown li {
    padding: 2px !important;
}

.dropdown ul {
    padding: 0 !important;
}

.caret-right {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid;
    display: inline-block;
    height: 0;
    width: 0;
    right: 10px;
    position: absolute;
    top: 10px;
}

.rarity {
    font-size: 0.9em;
    color: #747474;
}

.capitalize {
    text-transform:capitalize
}

.wikiLink {
    margin-left: 2px;
    font-size: 11px;
    line-height: 16px;
    vertical-align: baseline;
    color: blue;
}

.buildLink {
    margin-left: 10px;  
}

nav {
    height: 80px;
}

#navigationMenuButton {
    float: left;
    line-height: 80px;
    height: 80px;
    font-size:24px;
    color: #777;
}

#serverAndLanguagesSwitcher {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    margin-left: 15px;
}


#inventoryDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 80px;
}

#inventoryDiv .buttonDiv {
    display: flex;
    align-items: center;
    height: 50px;
}

#inventoryDiv .btn {
    margin-left: 10px;
}

.account {
    display: flex;
    align-items: center;
    float: right;
    height: 50px;
}

.switchServer {
    display: flex;
    align-items: center;
    height: 50px;
}

.switchServer .notSelected {
    color: grey;
    opacity: 1;
}

.switchServer button.btn {
    margin-left: 0 !important;
}

.logOut {
    margin-left: 10px;
    cursor: pointer;
}

#navbar-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    float: left;
    justify-content: center;
    height: 80px;
    margin-left: 15px;
    color: #777;
}

#navbar-brand {
    font-size: 18px;
}

#navbar-page {
    font-size: 24px;
}

nav .dropdown-menu li {
    height: 34px;
    font-size: 18px;
}

nav .dropdown-menu li a {
    color: #777;
}

#navigationMenu {
    float:left;
    display: flex;
    flex-direction: column;
    height: 80px;
    align-items: flex-start;
    justify-content: space-between;
}

#navigationMenu #navbar-brand {
    height: 50px;
    line-height: 50px;
    color: #777;
    font-size: 24px;
}

#navigationMenu #links {
    position: absolute;
    bottom: -26px;
    left: 5px;
}

#navigationMenu #links > a, #navigationMenu #mobileMenu {
    display: inline;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 2px;
    margin-right: 5px;
    margin-bottom: 2px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    text-decoration: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
}

#navigationMenu #mobileMenu {
    display: none;
}

#navigationMenu a.active {
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.1);
}

#navigationMenu a:hover {
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.05);
}

#showLinkDialog input {
    width: 100%;
}

.enhancementTypes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.enhancementType {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enhancementType .title {
    font-weight: bold;
}

.enhancementType .value {
    padding: 5px;
}

.enhancementType .value.selected {
    background-color: blue;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.enhancementType .value:hover {
    background-color: lightgray;
    border-radius: 10px;
    cursor: pointer;
}

#modifyEnhancementModal .modal-header .title.item {
    width: 400px;
    display: inline-flex;
}

.loadInventory {
    z-index: 2;
}

.mobile {
    display: none;
}

@media (max-width: 991px) {
    
    #navigationMenu #mobileMenu {
        display: inline;
    }
    
    .mobile {
        display: block;
    }
    
    .desktop {
        display: none !important;
    }
    
    #navigationMenu #links > a {
        display: none;
    }
    
    nav #inventoryStatus {
        display: none;
    }
    
    #inventoryDiv .buttonDiv {
        height: 80px;
        margin-right: 5px;
        font-size: 18px;
    }
    
    nav.col-xs-12 {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    nav .dropdown-menu li {
        height: 48px;
    }
    
    .container-fluid, .col-xs-12 {
        padding-left: 0;
        padding-right: 0;
    }
    
    .loginMessageDetail {
        display: none;
    }
    
    .lang-xs.selected {
        box-shadow: 0px 0px 5px 2px white;
    }
}