.currentItem .typeChoice {
    cursor: pointer;
}

.dropdown-menu {
    padding: 5px;
}

.itemList .panel-body {
    padding: 0;
}

#sendToServerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
}

input.maxNumber {
    width: 50px;
}