.currentItem .typeChoice {
    cursor: pointer;
}

.dropdown-menu {
    padding: 5px;
}

.itemList .panel-body {
    padding: 0;
}

#sendToServerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
}

input.maxNumber {
    width: 50px;
}

#modifiedItems .td.access > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.submitSuccess .details,
.submitFailed .details {
    font-size: 0.9em;
}

.submitSuccess .text-success,
.submitFailed .text-danger {
    font-weight: bold;
}
