body.dark {
    background-color: #222222;
    color: #dddddd;
    --scrollbarBG: #222222;
    --thumbBG: #2a9fd6;
}

body.dark #header .bannerPicture {
    background-image: url(/img/banner/banner_blank_dark.png);
}

body.dark #header .bannerBackground {
    background-color: #222222;
    border: 1px solid #464545;
}

body.dark .panel {
    background-color: #303030;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    border: 1px solid transparent;
}

body.dark .panel-default > .panel-heading, body.dark .panel-default > .panel-footer {
    background-color: #464545;
    border-color: #464545;
    color: #dddddd;
}


body.dark .panel-default {
    border-color: #464545;
}

body.dark .panel-body {
    background-color: #303030;
}


body.dark .nav-tabs > li.active > a, body.dark .nav-tabs > li.active > a:focus, body.dark .nav-tabs > li.active > a:hover {
    background-color: #303030;
    border: 1px solid #464545;
    border-bottom-color: transparent;
    color: #dddddd;
}

body.dark .nav-tabs > li > a:hover {
    background-color: #303030;
    border: 1px solid #464545;
    border-bottom-color: transparent;
    color: #aaaaaa;
}

body.dark .nav-tabs {
    border-bottom: 1px solid #464545;
}

body.dark .navigationMenu .desktop a {
    background-color: #464545;
    border: 1px solid #464545;
    color: #aaaaaa;
}

body.dark .navigationMenu .desktop a.active {
    border-color: #999;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    color: #dddddd;
}

body.dark .checkbox + span {
    background-color: rgba(0,0,0,.25);
    border-color: rgba(0,0,0,.25);
}

body.dark .checkbox:checked + span {
    background-color: #337ab7;
}

body.dark .btn-default {
    color: #ddd;
    background-color: rgba(0,0,0,.25);
    border: 1px solid rgba(0,0,0,.5);
}

body.dark .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

body.dark .btn-default:hover {
    color: #ffffff;
    background-color: rgba(0,0,0,.10);
    border: 1px solid rgba(0,0,0,.30);
}


body.dark .btn.disabled, body.dark .btn[disabled], body.dark fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: 0.65;
    box-shadow: none;
}

body.dark .btn-default:focus, body.dark .btn-default.focus {
    color: #ffffff;
    background-color: #282828;
    border-color: #020202;
}

body.dark .btn-default.active {
    border-color: black;
    background-color: #337ab7;
    color: aliceblue;
}

body.dark button,
body.dark input,
body.dark select,
body.dark textarea {
    border: 0;
    outline: 0;
    color: #ddd;
}

body.dark [placeholder]::-webkit-input-placeholder { color: rgba(255,255,255,.6); }
body.dark [placeholder]:hover::-webkit-input-placeholder { color: rgba(255,255,255,.3); }
body.dark [placeholder]:focus::-webkit-input-placeholder { color: transparent; }

body.dark [placeholder]::-moz-placeholder { color: rgba(255,255,255,.6); }
body.dark [placeholder]:hover::-moz-placeholder { color: rgba(255,255,255,.3); }
body.dark [placeholder]:focus::-moz-placeholder { color: transparent; }

body.dark [placeholder]:-ms-input-placeholder { color: rgba(255,255,255,.6); }
body.dark [placeholder]:hover:-ms-input-placeholder { color: rgba(255,255,255,.3); }
body.dark [placeholder]:focus:-ms-input-placeholder { color: transparent; }

body.dark input, body.dark select, body.dark .select2-selection, body.dark .select2-container--bootstrap .select2-search--dropdown .select2-search__field {
    border: 1px solid rgba(0,0,0,.5);
    background: rgba(0,0,0,.25);
}

body.dark input[disabled] {
    background: #303030;
}

body.dark .select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color: #ddd;
}

body.dark .select2-container--bootstrap .select2-results__option[aria-selected="true"] {
    background-color: grey;
    color: #ddd;
}

body.dark .select2-dropdown, body.dark select option {
    border: 1px solid rgba(0,0,0,.5);
    background: #303030;
}


body.dark input[readonly], body.dark .input-group-addon {
    background-color: #303030 !important;
    color: #dddddd  !important;
    border: 1px solid rgba(0,0,0,.5);
    box-shadow: none;
}

body.dark .inputWithIcon .leftIcon, body.dark .inputWithIcon .rightIcon {
    color: #dddddd  !important;
}

body.dark a, body.dark .link, body.dark .wikiLink {
    color: #2a9fd6;
}

body.dark a:hover, body.dark .link:hover {
    color: #2a9fd6;
}

body.dark .navigationMenu .desktop a {
    margin-top: 1px;
}

body.dark .dropdown-menu {
    background-color: #303030;
}

body.dark .dropdown-menu > li > a:hover, body.dark .dropdown-menu > li > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #375a7f;
}


body.dark .item .enhancements, body.dark .item.enhanced .itemName {
    color: #e74c3c;
}

body.dark #scrollToTopButton {
    background-color: #2a9fd6;
}


body.dark .enhancementType .value:hover {
    color: #222;
}

/* Builder */

body.dark .items .tbody .tr .td, body.dark .results {
    border-top: 1px solid #464545;
}

body.dark .buildLine .slot {
    opacity: 0.5;
}

body.dark .progressBar.finished {
    background-color: cornflowerblue;
}

body.dark .modal-content {
    background-color: #303030;
}

body.dark .modal-header {
    background-color: #464545;
    border-bottom: 1px solid #464545;
}

body.dark .modal-content .close {
    color: #ffffff;
}

body.dark .code {
    background-color: #666;
    color: white;
}

body.dark .stat .baseStat .leftIcon {
    color: #dddddd  !important;
}

body.dark .glassPanel {
    opacity: 0.5;
}

body.dark.building #buildResult .wikiLink, body.dark.building #conciseViewLink a, body.dark.building #detailedViewLink a, body.dark.building #unitLink, body.dark.building .footerButtons a {
    background-color: #464545;
}

body.dark.building #buildButton, body.dark.building #buildResult .wikiLink, body.dark.building #conciseViewLink a, body.dark.building #detailedViewLink a, body.dark.building #unitLink, body.dark.building .footerButtons a {
    box-shadow: 0 0 5px 5px #464545;
}

body.dark #inventoryDiv button.inventoryStatus {
    color: #dddddd !important;
    background-color: #424242 !important;
    border-color: #464545 !important;
}

body.dark #fixItemModal .selectable:hover {
    background-color: #464545;
}

body.dark #fixItemModal .selectable.itemWrapper {
    border-bottom: 1px solid #464545;
}

body.dark #resultStats .stat {
    color: #4673a3;
}

body.dark #fixItemModal .modal-body .nav > li.active > a, body.dark #fixItemModal .modal-body .nav > li:hover > a {
    opacity: 1;
    background-color: #464545;
}

body.dark .experimentalTag {
    background-color: #777;
}

body.dark .unitStats .stat .pots input.maxPot {
    color: #4673a3;
}

body.dark .unitStats .stat .pots input.maxDoor {
    color: darkorchid;
}

body.dark .monsters .tr:hover .td {
    background-color: #464545;
}

/* Encyclopedia */
body.dark .items .thead .tr .td {
    border-bottom: 2px solid #464545;
}

/* My inventory */

body.dark .typeJumpList .typeJump {
    border: 1px solid #303030;
    background: #303030;
}

body.dark .typeJumpList .typeJump:hover {
    border: 1px solid #808080;
}

body.dark #inventory .item, body.dark #itemEnhancement .item {
    background: #222;
    border-color: #303030;
}

body.dark #inventory .item.notOwned {
    background: #303030;
}

body.dark item .inventory .glyphicon {
    color: #555;
}

body.dark .inventory .number {
    background-color: #555;
    color: #ddd;
}

body.dark #exportLinks {
    color: #ddd;
    background-color: rgba(0,0,0,.25);
    border: 1px solid rgba(0,0,0,.5);
}

body.dark #exportLinks:hover {
    background-color: rgba(0,0,0,.15);
    border: 1px solid rgba(0,0,0,.30);
}

body.dark .item.stmr {
    padding: 25px 5px;
}

body.dark .result-tab-pane {
    border-bottom: 1px solid #464545;
    border-left: 1px solid #464545;
    border-right: 1px solid #464545;
}


/* My units */

body.dark #units .unit.owned {
    background-color: #222;
}

body.dark #units .unit.owned.sevenStars {
    background-color: #222;
    border: 1px solid indianred;
}

body.dark #units .badge.sevenStar {
    background-color: indianred;
}

body.dark .actions > .glyphicon {
    color: #ddd;
    background-color: #424242;
    border-color: #888;
}

/* My espers */

body.dark #espers .tabsWrapper::before {
    background: linear-gradient(to right,#222,rgba(248,247,238,0));
}

body.dark #espers .tabsWrapper::after {
    background: linear-gradient(to left,#222,rgba(248,247,238,0));
}

body.dark #espers .table > thead > tr > th.active {
    background-color: #424242;
}

body.dark #espers table.allEspers > thead > tr > th.active::after {
    color: #d3d3d3;
}

body.dark #grid li .hexagon {
    background-color: #292929;
    color: #606060;
}


/* Home page */
body.dark #panel-github .tagline .tagdesc {
    color: #ddd;
}

/* unit search */
body.dark .nameAndEffects .name {
    color: white;
}

body.dark #results .chainFamily {
    color: #ddd;
}

body.dark .skillGroup {
    border-left: 1px solid #ddd;
}


body.dark .skillGroup:before {   
    background-color: grey;
    color: #ddd;
}

/* Contribute */
.items .tr.userInputed  {
	background-color: #464545;
}
