body.dark {
    background-color: #222222;
    color: #dddddd;
}

body.dark .panel {
    background-color: #303030;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    border: 1px solid transparent;
}

body.dark .panel-default > .panel-heading {
    background-color: #464545;
    border-color: #464545;
    color: #dddddd;
}


body.dark .panel-default {
    border-color: #464545;
}

body.dark .nav-tabs > li.active > a, body.dark .nav-tabs > li.active > a:focus, body.dark .nav-tabs > li.active > a:hover {
    background-color: #303030;
    border: 1px solid #464545;
    border-bottom-color: transparent;
    color: #dddddd;
}

body.dark .nav-tabs > li > a:hover {
    background-color: #303030;
    border: 1px solid #464545;
    border-bottom-color: transparent;
    color: #aaaaaa;
}

body.dark .nav-tabs {
    border-bottom: 1px solid #464545;
}

body.dark .navigationMenu .desktop a {
    background-color: #464545;
    border: 1px solid #464545;
    color: #aaaaaa;
}

body.dark .navigationMenu .desktop a.active {
    border-color: #999;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    color: #dddddd;
}

body.dark input, body.dark select, body.dark .select2-selection, body.dark .select2-dropdown {
    background-color: #eeeeee !important;
    color: #111 !important;
    border-color: #888 !important;
}

body.dark input[readonly], body.dark .input-group-addon {
    background-color: #303030 !important;
    color: #dddddd  !important;
    border-color: #888 !important;
}

body.dark .inputWithIcon .leftIcon, body.dark .inputWithIcon .rightIcon {
    color: #222222  !important;
}

body.dark .btn-default {
    color: #ffffff;
    background-color: #424242;
    border-color: #888;
}

body.dark .btn-default:hover {
    color: #ffffff;
    background-color: #282828;
    border-color: #232323;
}

body.dark .btn.disabled, body.dark .btn[disabled], body.dark fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: 0.65;
    box-shadow: none;
}

body.dark .btn-default:focus, body.dark .btn-default.focus {
    color: #ffffff;
    background-color: #282828;
    border-color: #020202;
}

body.dark a, body.dark .link {
    color: #2a9fd6;
}

body.dark a:hover, body.dark .link:hover {
    color: #2a9fd6;
}

body.dark .result-tab-pane {
    border-bottom: 1px solid #464545;
    border-left: 1px solid #464545;
    border-right: 1px solid #464545;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

body.dark .items .tbody .tr .td, .results {
    border-top: 1px solid #464545;
}

body.dark .buildLine .slot {
    opacity: 0.6;
}

body.dark .progressBar.finished {
    background-color: cornflowerblue;
}

body.dark .modal-content {
    background-color: #303030;
}

body.dark .modal-header {
    background-color: #464545;
    border-bottom: 1px solid #464545;
}

body.dark .modal-content .close {
    color: #ffffff;
}

body.dark .code {
    background-color: #666;
    color: white;
}

body.dark .stat .baseStat .leftIcon {
    color: #dddddd  !important;
}