body.dark {
    background-color: #222222;
    color: #dddddd;
}

body.dark #header .bannerPicture {
    background-image: url(/img/banner/banner_blank_dark.png);
}

body.dark #header .bannerBackground {
    background-color: #222222;
    border: 1px solid #464545;
}

body.dark .panel {
    background-color: #303030;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    border: 1px solid transparent;
}

body.dark .panel-default > .panel-heading, body.dark .panel-default > .panel-footer {
    background-color: #464545;
    border-color: #464545;
    color: #dddddd;
}


body.dark .panel-default {
    border-color: #464545;
}

body.dark .panel-body {
    background-color: #303030;
}


body.dark .nav-tabs > li.active > a, body.dark .nav-tabs > li.active > a:focus, body.dark .nav-tabs > li.active > a:hover {
    background-color: #303030;
    border: 1px solid #464545;
    border-bottom-color: transparent;
    color: #dddddd;
}

body.dark .nav-tabs > li > a:hover {
    background-color: #303030;
    border: 1px solid #464545;
    border-bottom-color: transparent;
    color: #aaaaaa;
}

body.dark .nav-tabs {
    border-bottom: 1px solid #464545;
}

body.dark .navigationMenu .desktop a {
    background-color: #464545;
    border: 1px solid #464545;
    color: #aaaaaa;
}

body.dark .navigationMenu .desktop a.active {
    border-color: #999;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    color: #dddddd;
}

.checkbox + span {
    background-color: #ddd;
}

body.dark input, body.dark select, body.dark .select2-selection, body.dark .select2-dropdown {
    background-color: #dddddd !important;
    color: #111 !important;
    border-color: #888 !important;
}

body.dark input[readonly], body.dark .input-group-addon {
    background-color: #303030 !important;
    color: #dddddd  !important;
    border-color: #888 !important;
}

body.dark .inputWithIcon .leftIcon, body.dark .inputWithIcon .rightIcon {
    color: #222222  !important;
}

body.dark .btn-default {
    color: #ffffff;
    background-color: #424242;
    border-color: #888;
}

body.dark .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

body.dark .btn-default:hover {
    color: #ffffff;
    background-color: #282828;
    border-color: #232323;
}


body.dark .btn.disabled, body.dark .btn[disabled], body.dark fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: 0.65;
    box-shadow: none;
}

body.dark .btn-default:focus, body.dark .btn-default.focus {
    color: #ffffff;
    background-color: #282828;
    border-color: #020202;
}

body.dark .btn-default.active {
    border-color: black;
    background-color: #337ab7;
    color: aliceblue;
}

body.dark a, body.dark .link, body.dark .wikiLink {
    color: #2a9fd6;
}

body.dark a:hover, body.dark .link:hover {
    color: #2a9fd6;
}

body.dark .navigationMenu .desktop a {
    margin-top: 1px;
}

body.dark .dropdown-menu {
    background-color: #303030;
}

body.dark .dropdown-menu > li > a:hover, body.dark .dropdown-menu > li > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #375a7f;
}


body.dark .item .enhancements, body.dark .item.enhanced .itemName {
    color: #e74c3c;
}

#scrollToTopButton {
    background-color: #2a9fd6;
}

body.dark #themeSelector select {
    background-color: #424242 !important;
    color: #ddd !important;
}

body.dark .experimentalTag {
    background-color: #666666;
}

/* Builder */

body.dark .items .tbody .tr .td, body.dark .results {
    border-top: 1px solid #464545;
}

body.dark .buildLine .slot {
    opacity: 0.5;
}

body.dark .progressBar.finished {
    background-color: cornflowerblue;
}

body.dark .modal-content {
    background-color: #303030;
}

body.dark .modal-header {
    background-color: #464545;
    border-bottom: 1px solid #464545;
}

body.dark .modal-content .close {
    color: #ffffff;
}

body.dark .code {
    background-color: #666;
    color: white;
}

body.dark .stat .baseStat .leftIcon {
    color: #dddddd  !important;
}

body.dark .glassPanel {
    opacity: 0.5;
}

body.dark.building #buildResult .wikiLink, body.dark.building #conciseViewLink a, body.dark.building #detailedViewLink a, body.dark.building #unitLink, body.dark.building .footerButtons a {
    background-color: #464545;
}

body.dark.building #buildButton, body.dark.building #buildResult .wikiLink, body.dark.building #conciseViewLink a, body.dark.building #detailedViewLink a, body.dark.building #unitLink, body.dark.building .footerButtons a {
    box-shadow: 0 0 5px 5px #464545;
}

body.dark #inventoryDiv button.inventoryStatus {
    color: #dddddd !important;
    background-color: #424242 !important;
    border-color: #464545;
}

body.dark #fixItemModal .results .tr.selectable:hover {
    background-color: #464545;
}

body.dark #resultStats .stat {
    color: #4673a3;
}

body.dark #fixItemModal .modal-body .nav > li.active > a, body.dark #fixItemModal .modal-body .nav > li:hover > a {
    opacity: 1;
    background-color: #464545;
}

/* Encyclopedia */
body.dark .items .thead .tr .td {
    border-bottom: 2px solid #464545;
}

/* My inventory */

body.dark .typeJumpList .typeJump {
    border: 1px solid #303030;
    background: #303030;
}

body.dark .typeJumpList .typeJump:hover {
    border: 1px solid #808080;
}

body.dark #inventory .item, body.dark #itemEnhancement .item {
    background: #222;
    border-color: #303030;
}

body.dark #inventory .item.notOwned {
    background: #303030;
}

body.dark item .inventory .glyphicon {
    color: #555;
}

body.dark .inventory .number {
    background-color: #555;
    color: #ddd;
}

body.dark #exportLinks {
    color: #ffffff;
    background-color: #424242;
    border-color: #888;
}

body.dark #exportLinks:hover {
    background-color: #282828;
    border-color: #232323;
}

body.dark .item.stmr {
    padding: 25px 5px;
}


/* My units */

body.dark #units .unit.owned {
    background-color: #222;
}

body.dark #units .unit.owned.sevenStars {
    background-color: #222;
    border: 1px solid indianred;
}

body.dark #units .badge.sevenStar {
    background-color: indianred;
}

body.dark .actions > .glyphicon {
    color: #ddd;
    background-color: #424242;
    border-color: #888;
}

/* My espers */

body.dark #espers .tabsWrapper::before {
    background: linear-gradient(to right,#222,rgba(248,247,238,0));
}

body.dark #espers .tabsWrapper::after {
    background: linear-gradient(to left,#222,rgba(248,247,238,0));
}

body.dark #espers .table > thead > tr > th.active {
    background-color: #424242;
}

body.dark #espers table.allEspers > thead > tr > th.active::after {
    color: #d3d3d3;
}

body.dark #grid li .hexagon {
    background-color: #292929;
    color: #606060;
}
