.userInputedResultsChoice {
    float: right;
}

.userInputedResultsChoice label {
    font-weight: normal;
}

.inventory .number {
    color : white;
    margin-top: 1px;
    background-color: green;
}
.inventory .glyphicon {
    cursor: pointer;
    color: lightgray;
    font-size: 0.8em;
}
.inventory span {
    display: block;
    text-align: center;
}
.inventory.notPossessed .number, .inventory.notPossessed .glyphicon-minus {
    display: none;
}

#resultsDiv .panel-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.unit .input-group {
	width: 100%;
}

.unit .input-group-addon {
	width: 60px;
	padding: 0;
}

.unit-image {
    margin-left: auto;
}

.unit-image img {
    height: 33px;
}

#results .tr {
    display: grid;
    grid-template-columns: 64px auto 50px;
}

#results .tbody .tr .td.access{
    grid-column-start: 2;
    grid-column-end: 4;
    border-top: none;
    padding-top: 0;
    display: flex;
}
#results .tbody .tr .td.access > div {
    margin-right: 10px;
}
#results .tbody .tr .special{
    grid-column-start: 2;
    grid-column-end: 4;
    border-top: none;
    padding-top: 0;
}

#results .tbody .tr .special ul{
    margin-bottom: 0;
}

#results .tbody .tr .type img.icon {
    position: absolute;
}

.clusterize-scroll{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: none; /* <-- important one  */
    display: flex;
    flex-direction: column;
}

@media (max-width: 991px) {
    
    .container-fluid {
        overflow: unset;
    }
    
	#results .thead .special{
		display: none;
	}
    #results .tr {
        display: grid;
        grid-template-columns: 55px auto 50px;
    }
    #results .type{
		width: 60px;
        max-height: 60px;
        padding: 0;
	}
    #results .tbody .tr .td.name{
        padding-bottom: 0;
    }

    #results .tbody .tr .td.access{
        grid-column-start: 1;
    }
    #results .tbody .tr .special {
        grid-column-start: 1;
    }


    
    .unit .input-group-addon {
	   width: 100px;
    }
    
    .userInputedResultsChoice {
        float: none;
    }
    .userInputedResultsChoice input {
        margin-top: 1px;
        width: 20px;
        height: 20px;
        margin-left: -10px !important;
    }
    .userInputedResultsChoice label{
        padding-left: 15px;
    }
    
}

@media (min-width: 992px) {
    #advancedSearch {
        display: block !important;
    }
}

@media (max-width: 600px) {
    .unit-image {
        display: none;
    }
}
