.userInputedResultsChoice {
    float: right;
}

.userInputedResultsChoice label {
    font-weight: normal;
}

.inventory .number {
    color : white;
    margin-top: 1px;
    background-color: green;
}
.inventory .glyphicon {
    cursor: pointer;
    color: lightgray;
    font-size: 0.8em;
}
.inventory span {
    display: block;
    text-align: center;
}
.inventory.notPossessed .number, .inventory.notPossessed .glyphicon-minus {
    display: none;
}

#resultsDiv .panel-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.unit .input-group {
	width: 100%;
}

.unit .input-group-addon {
	width: 60px;
	padding: 0;
}

.unit-image {
    margin-left: auto;
}

.unit-image img {
    height: 33px;
}

.clusterize-scroll{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: none; /* <-- important one  */
    display: flex;
    flex-direction: column;
}

.items .tr {
    display: grid;
    grid-template-columns: 64px auto 50px;
}

.items .logged .tr {
    grid-template-columns: 64px auto 50px 40px;
}

.items .tr .td.type {
    padding-top: 0;
    padding-bottom: 0;
}

.items .tr .td.inventory {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row: 1;
}

.items .tr .td.special {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 2;
    border-top: none !important;
    padding-top: 0;
}

.items .tr .td.special.empty {
    display: none;
}

.items .tr .td.special li > .skill {
    padding-left: 30px;
    display: block;
    position: relative;
}

.items .tr .td.special li > .skill img {
    position: absolute;
    top: -4px;
    left: -4px;
    margin-top: 0;
    margin-bottom: 0;
}

.items .tr .td.special ul {
    margin-bottom: 0;
}

.items .tr .td.special .img.withMiniIcon, .items .tr .td.special .killerValueGroup i {
    width: 32px;
    height: 32px;
}

.items .tr .td.special .img.miniIcon {
    width: 18px;
    height: 18px;
    margin-top: 14px;
    margin-left: 16px;
}

.items .tr .td.special li:not(:last-child) {
    margin-bottom: 5px;
}

.specialValueItem {
    margin: 0;
}

.items .tr .td.special .icon {
    margin-bottom: -10px;
    margin-top: -14px;
}

.items .tr .td.access {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 3;
    border-top: none !important;
    display: flex;
    align-items: center;
    padding-top: 0;
}

.items .tr .td.access > div {
    margin-right: 10px;
}

.items .tr .td.access > div.access {
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}


@media (max-width: 991px) {
    
    .container-fluid {
        overflow: unset;
    }
    
	#results .thead .special{
		display: none;
	}
    #results .tr {
        display: grid;
        grid-template-columns: 55px auto 50px;
    }
    #results .type{
		width: 60px;
        max-height: 60px;
        padding: 0;
	}
    #results .tbody .tr .td.name{
        padding-bottom: 0;
    }

    .items .tr .td.special, .items .tr .td.access {
        grid-column-start: 1;
    }


    
    .unit .input-group-addon {
	   width: 100px;
    }
    
    .userInputedResultsChoice {
        float: none;
    }
    .userInputedResultsChoice input {
        margin-top: 1px;
        width: 20px;
        height: 20px;
        margin-left: -10px !important;
    }
    
}

@media (min-width: 992px) {
    #advancedSearch {
        display: block !important;
    }
}

@media (max-width: 600px) {
    .unit-image {
        display: none;
    }
}
