#espers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#espers .result-tab-pane {
    width: 100%;
    max-width: 1024px;
}

#espers #tabs img {
    width: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#espers #tabs li.active a {
    background-color: #337ab7;
    border-bottom-color: rgb(221, 221, 221);
}

.skill {
    display: inline-block;
    width: 100px;
    height: 50px;
    border: solid 1px;
    border-radius: 10px;
    margin: 5px;
    overflow: hidden;
}

.skill.empty {
    border-color: white;
}

#gridContainer {
    position: relative;
    margin-right: -10%;
}

#grid li {
    list-style-type: none;
    position: relative;
    float: left;
    width: 9.285714286%;
    padding: 0 0 10.722533817% 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    overflow: hidden;
    visibility: hidden;
}


#grid li * {
    visibility: visible;
}

#grid li .hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    filter: contrast(30%); 
}

#grid li .hexagon > * {
    opacity: 0.6;
    color: black;
}

#grid li .hexagon:hover, #grid li .hexagon.hover {
    cursor: pointer;
    filter: contrast(70%);
    
}

#grid li .hexagon:hover *, #grid li .hexagon.hover *, #grid li .hexagon.selected * {
    opacity: 1 !important;
}

#grid li .hexagon.selected {
    filter: contrast(100%); 
}

#grid li .hexagon.notUsed {
    visibility: hidden;
}

#grid li:nth-child(9n+2), #grid li:nth-child(9n+4), #grid li:nth-child(9n+6), #grid li:nth-child(9n+8) {
  margin: 0 1%;
}

#grid li:nth-child(18n+10), #grid li:nth-child(18n+11), #grid li:nth-child(18n+12), #grid li:nth-child(18n+13), #grid li:nth-child(18n+14), #grid li:nth-child(18n+15), #grid li:nth-child(18n+16), #grid li:nth-child(18n+17), #grid li:nth-child(18n+18) {
    margin-top: -2%;
    margin-bottom: -2%;
    -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

#grid li:nth-child(18n+10) { 
    margin-left: 0.5%;
}

#grid li .hexagon .iconHolder {
    top: 7px;
    position: absolute;
}


#grid li .hexagon .cost {
    position: absolute;
    bottom: 10px;
}

#grid li .hexagon .text {
    font-weight: bold;
    text-align: center;
    z-index: 10;
}

#grid li .hexagon .specialValueItem {
    flex-direction: row;
    align-items: center;
}

#grid.star1 li .hexagon.star2, #grid.star1 li .hexagon.star3, #grid.star2 li .hexagon.star3, #grid.star1 li .hexagon.star2 *, #grid.star1 li .hexagon.star3 *, #grid.star2 li .hexagon.star3 * {
    visibility: hidden;
}

#grid.star1 {
    margin-top: -17%
}

#grid.star2 {
    margin-top: -8.5%
}

.line {
    border: none !important;
    z-index: -1 !important;
    outline: 6px solid grey;
}

.hexagon.hp {
    background-color: #baffc9;
}

.hexagon.mp {
    background-color: #ffffba;
}

.hexagon.atk {
    background-color:  	#ffb3ba;
}

.hexagon.def {
    background-color: #bae1ff;
}

.hexagon.mag {
    background-color: #BFAEBF;
}

.hexagon.spr {
    background-color: #ffdfba;
}

.hexagon.ability {
    background-color: #EEEEEE;
}

.hexagon.resist {
    background-color: #e3e79f ;
}

.hexagon.killer {
    background-color: #f1ded3;
}

.killer .miniIcon.physical {
    margin-top: 19px;
    margin-left: -10px;
}
.killer .miniIcon.magical {
    margin-top: 19px;
    margin-left: 29px;
}

.form-control-plaintext {
    display: block;
    width: 100%;
    padding-top: .375rem;
    padding-bottom: .375rem;
    margin-bottom: 0;
    line-height: 1.5;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0;
}

.esperHeader {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
}

.esperChoice {
    width: 400px;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.formLine {
    display: flex;
    flex-direction: row;
}

.formLabel {
    width: 100px;
    min-width: 100px;
    line-height: 34px;
    text-align: right;
    padding-right: 5px;
}

.formValue {
    line-height: 34px;
    padding-left: 5px;
}

.formLine.stats .formGroup {
    width: 150px;
}

.esperOtherStats {
    width: 200px;
}