
#esper {
    position:relative;
    width: 100%;
    margin: 0 auto;
}

#allEspers {
    margin: 0 auto;
    max-width: 80%;
    padding-top: 1em;
}

#allEspers .panel {
    margin: 0.85em 0.85em;
}

table.allEspers > tbody > tr {
    height: 80px;
}

table.allEspers > thead > tr > th {
    cursor: pointer;
}

table.allEspers > tbody > tr > td {
    vertical-align: middle;
}

table.allEspers > tbody > tr > td.index {
    white-space: nowrap;
}

table.allEspers > tbody > tr > td.resists,
table.allEspers > tbody > tr > td.killers {
    min-width: 135px;
}

table.allEspers .esperDesc {
    position: relative;
    padding-left: 70px;
    cursor: pointer;
}

table.allEspers .esperDesc i.img{
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, .5));
}

table.allEspers .esperDesc .name {
    font-weight: bold;
}

table.allEspers .esperDesc .sp {
    color: #8a8a8a;
    font-size: 0.85em;
}

table.allEspers > thead > tr > th::after {
    content: "↑";
    z-index: 1;
    color: #d3d3d3;
    font-size: 14px;
    margin-left: 3px;
}

table.allEspers > thead > tr > th.desc::after {
    content: "↓";
}

table.allEspers > thead > tr > th.active::after {
    color: #3b3b3b;
}

table.allEspers > tbody > tr > td.stats {
    color: #8a8a8a;
}

table.allEspers > tbody > tr > td.stats .bonus {
    color: #19983d;
}

#espers .tabsWrapper {
    position:relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    overflow: hidden;
}

#espers .tabsWrapper:before,
#espers .tabsWrapper:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 50px;
    z-index: 1;
    pointer-events: none;
}
#espers .tabsWrapper:before {
    left: 0;
    background: linear-gradient(to right,#ffffff,rgba(248,247,238,0));
}
#espers .tabsWrapper:after {
    right: 0;
    background: linear-gradient(to left,#ffffff,rgba(248,247,238,0));
}

#espers #tabs {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

#espers #tabs li {
    cursor: pointer;
}

#espers #tabs li:first-child {
    padding-left: 30px;
}

#espers #tabs li:last-child {
    padding-right: 30px;
}

#espers #tabs i.img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.4)); /* filter allows to contour PNG file */
}

#espers #tabs li.notOwned {
    opacity: 0.5;
}

#espers #tabs li.notOwned i.img {
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.4)) grayscale(1);
}

#espers #tabs li.active a {
    background-color: #337ab7;
    border-bottom-color: rgb(221, 221, 221);
}

.skill {
    display: inline-block;
    width: 100px;
    height: 50px;
    border: solid 1px;
    border-radius: 10px;
    margin: 5px;
    overflow: hidden;
}

.skill.empty {
    border-color: white;
}

#panWrapper {
    overflow: auto;
    padding: 8px;
}

#gridTrimmer {
    overflow: hidden;
    margin: 0 auto;
}

#gridTrimmer.star1 {
    width:540px;
    height:470px;
}

#gridTrimmer.star1 #gridContainer {
    margin-left: -180px;
    margin-top: -170px;
}

#gridTrimmer.star2 {
    width:740px;
    height:660px;
}

#gridTrimmer.star2 #gridContainer {
    margin-left: -90px;
    margin-top: -80px;
}

#gridTrimmer.star3 {
    width:940px;
    height:860px;
}

#gridTrimmer.star3 #gridContainer {
    margin-left: 10px;
    margin-top: 20px;
}

#gridContainer {
    position: relative;
    width: 1000px;
    height: 1000px;
    transform-origin: 50% 50%;
}

#grid {
    overflow: hidden;
}

#grid li {
    list-style-type: none;
    position: relative;
    float: left;
    width: 9.285714286%;
    padding: 0 0 10.722533817% 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    overflow: hidden;
    visibility: hidden;
}


#grid li * {
    visibility: visible;
}

#grid li .hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /*filter: contrast(30%); */
    background-color:  	#f5f6f5;
    color: #b0b0b0;
}

#grid li .hexagon .wikilink {
    color: #b0b0b0;
}

#grid li .hexagon.selected .wikilink {
    color: blue;
}

#grid li .hexagon a  {
    color: #b0b0b0;
}

#grid li .hexagon img  {
    opacity: 0.6;
}

#grid li .hexagon.selected {
    color: black;
}

#grid li .hexagon.selected a  {
    color: black;
}

#grid li .hexagon.selected img  {
    opacity: 1;
}

#grid li .hexagon:hover, #grid li .hexagon.hover {
    cursor: pointer;
    filter: contrast(70%);
    
}

#grid li .hexagon:hover *, #grid li .hexagon.hover *, #grid li .hexagon.selected * {
    opacity: 1 !important;
}

#grid li .hexagon.selected {
    filter: contrast(100%); 
}

#grid li .hexagon.notUsed {
    visibility: hidden;
}

#grid li:nth-child(9n+2), #grid li:nth-child(9n+4), #grid li:nth-child(9n+6), #grid li:nth-child(9n+8) {
  margin: 0 1%;
}

#grid li:nth-child(18n+10), #grid li:nth-child(18n+11), #grid li:nth-child(18n+12), 
#grid li:nth-child(18n+13), #grid li:nth-child(18n+14), #grid li:nth-child(18n+15), 
#grid li:nth-child(18n+16), #grid li:nth-child(18n+17), #grid li:nth-child(18n+18) {
    margin-top: -2%;
    margin-bottom: -2%;
    -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

#grid li:nth-child(18n+10) { 
    margin-left: 0.5%;
}

#grid li .hexagon .iconHolder {
    top: 7px;
    position: absolute;
}


#grid li .hexagon .cost {
    position: absolute;
    bottom: 10px;
}

#grid li .hexagon .text {
    font-weight: bold;
    text-align: center;
    z-index: 10;
}

#grid li .hexagon .specialValueItem {
    flex-direction: row;
    align-items: center;
}

#grid.star1 li .hexagon.star2, #grid.star1 li .hexagon.star3, #grid.star2 li .hexagon.star3, 
#grid.star1 li .hexagon.star2 *, #grid.star1 li .hexagon.star3 *, #grid.star2 li .hexagon.star3 * {
    visibility: hidden;
}

.line {
    border: none !important;
    z-index: -1 !important;
    outline: 6px solid grey;
}

#grid li .selected.hexagon.hp {
    background-color: #ffffba;
}

#grid li .selected.hexagon.mp {
    background-color: #baffc9;
}

#grid li .selected.hexagon.atk {
    background-color:  	#ffb3ba;
}

#grid li .selected.hexagon.def {
    background-color: #ffdfba;
}

#grid li .selected.hexagon.mag {
    background-color: #BFAEBF;
}

#grid li .selected.hexagon.spr {
    background-color: #bae1ff;
}

#grid li .selected.hexagon.ability {
    background-color: #e9dace;
}

#grid li .selected.hexagon.resist {
    background-color: #e3e79f ;
}

#grid li .selected.hexagon.killer {
    background-color: #f1ded3;
}

.killer .miniIcon.physical {
    margin-top: 19px;
    margin-left: -10px;
}
.killer .miniIcon.magical {
    margin-top: 19px;
    margin-left: 29px;
}

.hexagon.ability i.img {
    width: 20px;
    height: 20px;
}

.form-control-plaintext {
    display: block;
    width: 100%;
    padding-top: .375rem;
    padding-bottom: .375rem;
    margin-bottom: 0;
    line-height: 1.5;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0;
}

.esperHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-right: 30px;
    min-height: 150px;
}

.esperChoice {
    min-width: 280px;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.formLine {
    display: flex;
    flex-direction: row;
}

.formLabel {
    min-width: 75px;
    line-height: 34px;
    text-align: right;
    padding-right: 5px;
}

.formValue {
    line-height: 34px;
    padding-left: 5px;
}

.formValue .statsBonus {
    color: #19983d;
}

.esperOtherStats {
    position: relative;
    padding-left: 40px;
    padding-bottom: 15px;
}

.esperOtherStats .esperSkills {
    position: absolute;
    top: 65px;
}

.shareLink a {
    display: inline-block;
    margin: 0 auto 15px auto;
    padding: 4px 6px;
    border: 1px solid #c8c8c8;
    background: #f7f7f7;
    border-radius: 4px;
    white-space: nowrap;
}

.shareLink a:hover {
    border: 1px solid #808080;
    background: #f0f0f0;
    text-decoration: none;
}

.error {
    font-weight: bold;
    color: red;
}
.formGroup {
    display: flex;
    flex-direction: column;
}

.formLine {
    display: flex;
    flex-direction: row;
}

.formLabel {
    min-width: 75px;
    line-height: 34px;
    text-align: right;
    padding-right: 5px;
}

.formValue {
    line-height: 34px;
    padding-left: 5px;
}

.esperOtherStats {
    position: relative;
    padding-left: 40px;
    padding-bottom: 15px;
}

.esperOtherStats .esperSkills {
    position: absolute;
    top: 65px;
}

.shareLink {
    justify-content: center;
}

.shareLink a{
    cursor: pointer;
}

.error {
    font-weight: bold;
    color: red;
}

#spFixed {
    display: none;
    position: fixed;
    left: 10px;
    bottom: 20px;
    opacity: 0.5;
    z-index: 9999;
    background-color: #052464;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: help;
}

#spFixed:hover {
    opacity: 1;
}

#spFixed .name {
    font-weight: bold;
}

#toggleGrid {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 75px;
    height: 75px;
    border-radius: 75px;
    background-color: #052464;
    opacity: 0.5;
    z-index: 9999;
}

#toggleGrid:hover {
    opacity: 1;
}

#toggleGrid span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 30px;
    margin-left: -13px;
    margin-top: -14px;
}

.glassPanel {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    opacity: 0.1;
    background-color: black;
    z-index: 100;
    cursor: wait;
}

@media (max-width: 1200px) {
    #allEspers {
        max-width: none;
    }
}

@media (max-width: 960px) {

    #allEspers .panel {
        margin: 0.85em 0;
        overflow-x:auto;
    }

    table.allEspers > tbody > tr > td {
        padding: 2px 6px;
    }

    table.allEspers .esperDesc {
        padding-left: 38px;
    }

    table.allEspers .esperDesc i.img {
        width: 30px;
        height: 30px;
        left: 4px;
        margin-top: -15px;
    }

    table.allEspers > tbody > tr > td .specialValueItem {
        font-size: 0.8em;
        margin: 0;
    }

    table.allEspers > tbody > tr > td .specialValueItem .specialImg{
        transform: scale(0.6);
    }

    table.allEspers > tbody > tr > td .specialValueItem .specialValue{
        margin-top: -6px;
    }

}

@media (max-width: 768px) {
    #espers #tabs img {
        width: 35px;
    }

    .nav > li > a {
        padding: 6px 8px;
    }

    table.allEspers {
        font-size: 0.9em;
    }
}

@media (max-width: 500px) {

    table.allEspers .esperDesc {
        padding-left: 2px;
    }

    table.allEspers .esperDesc i.img {
        display: none;
    }

    table.allEspers > thead > tr > th {
        font-weight: normal;
        font-size: 0.9em;
    }

    table.allEspers > tbody > tr > td {
        padding: 1px 6px;
    }

    table.allEspers > thead > tr > th::after {
        display: none;
    }
}

@media (max-width: 768px), (pointer:coarse) and (hover:none) {

    .container-fluid {
        padding: 0;
    }

    #toggleGrid {
        display: block;
    }
    
    #esper #panWrapper {
        box-shadow: inset 0 2px 5px #00000050;
        position: absolute;
        top: -100000px;
        left: -100000px;
    }

    #esper.viewingTrainingGrid .esperHeader,
    #esper.viewingTrainingGrid .shareLink {
        display: none;
    }

    #esper.viewingTrainingGrid #panWrapper {
        position: relative;
        top: 0;
        left: 0;
    }

    #gridContainer {
        transform: scale(0.7);
    }
    
    #gridTrimmer.star1 {
        width:378px;
        height:330px;
    }

    #gridTrimmer.star1 #gridContainer {
        margin-left: -280px;
        margin-top: -270px;
    }

    #gridTrimmer.star2 {
        width:518px;
        height:462px;
    }

    #gridTrimmer.star2 #gridContainer {
        margin-left: -210px;
        margin-top: -205px;
    }

    #gridTrimmer.star3 {
        width:658px;
        height:602px;
    }

    #gridTrimmer.star3 #gridContainer {
        margin-left: -140px;
        margin-top: -135px;
    }
}

@media (min-width: 650px) {
    #panWrapper.star1,
    #panWrapper.star2,
    #panWrapper.star3 {
        overflow-x: hidden;
    }
}

@media (min-width: 500px) {
    #panWrapper.star1,
    #panWrapper.star2 {
        overflow-x: hidden;
    }
}

@media (min-width: 360px) {
    #panWrapper.star1 {
        overflow-x: hidden;
    }
}

