#espers #tabs img {
    width: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#espers #tabs li.active a {
    background-color: #337ab7;
    border-bottom-color: rgb(221, 221, 221);
}

.skill {
    display: inline-block;
    width: 100px;
    height: 50px;
    border: solid 1px;
    border-radius: 10px;
    margin: 5px;
    overflow: hidden;
}

.skill.empty {
    border-color: white;
}