
.itemsWrapper {
    clear: both; /* needed because of floating header above */
    display: flex;
    align-items: stretch;
}

.itemsSidebar .itemsSidebarButton {
    display: block;
    border: 1px solid #c8c8c8;
    background: #f7f7f7;
    border-radius: 4px;
    padding: 6px;
    margin: 20px auto 0 auto;
    color: #747474;
    opacity: 0.5;
}

.itemsSidebar .itemsSidebarButton:hover {
    border: 1px solid #808080;
    background: #f0f0f0;
    opacity: 1;
}

.itemsContent {
    position: relative;
    flex-grow: 1;
}

.itemsSidebar {
    padding: 0 10px;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
    width: 250px;
}

.itemsSidebar .itemsSidebarButton .glyphicon {
    transition: transform .3s;
}

.itemsSidebar.collapsed {
    width: 100px;
}

.itemsSidebar.collapsed .itemsSidebarButton {
    opacity: 0.85;
}

.itemsSidebar.collapsed .itemsSidebarButton .glyphicon {
    transform: rotate(180deg);
}

.itemsSidebar.collapsed .collapsedHidden {
    display: none;
}

.unitList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.item {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    align-items: center;
    background-color: #d2edf9;
    padding: 5px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}

.item.notOwned {
    background-color: white;
}

.item.notOwned .type, #results .item.notOwned .name{
    opacity: 0.3;
}

.item:hover {
    background-color: #337ab7;
    color: white;
    cursor: pointer;
}

.item:hover a, #results .item:hover .rarity {
    color: white;
}



.item .name{
    flex-grow: 1;
}

.inventory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inventory .number {
    margin-top: 1px;
    background-color: #d2edf9;
    color: #337ab7;
    font-size: 1.2em;
}

.item .inventory .glyphicon {
    color: #d2edf9;
}

.item.notOwned .inventory .glyphicon {
    color: white;
}

.item:hover .inventory .glyphicon {
    cursor: pointer;
    color: #d2edf9;
    font-size: 0.8em;
    margin: 2px;
}

#results .inventoryTools {
    padding: 50px 0 15px 15px;
}

#results .inventoryTools button {
    margin-right: 15px;
}

.result-tab-pane {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav-tabs li {
    cursor: pointer;
}

#tabsRightData {
    position: absolute;
    right: 20px;
    top: 30px;
    font-weight: bold;
}

#searchBox {
    margin-top: 10px;
    margin-bottom: 10px;
}

.source {
    font-size: 1.3em;
    font-weight: bold;
    color: #337ab7;
    margin-top: 10px;
}

.excludeFromExpeditionButton {
    position: absolute;
    right: 4px;
    width: 28px;
    top: 40px;
    display: none;
}

.item:not(.notOwned).excludedFromExpeditions .excludeFromExpeditionButton {
    display: block;   
    filter: grayscale(0%) !important;
    opacity: 1 !important;
}

.item:not(.notOwned):hover .excludeFromExpeditionButton {
    display: block;
    opacity: 0.8;
    filter: grayscale(100%);
}

.farmable:hover .farmedButton {
    display: block;
    position: absolute;
    bottom: 0;
    right: 30px;
    height: 45px;
}

.itemWorldButton {
    display: none;
    opacity: 0.8;
    filter: grayscale(100%);
    position: absolute;
    top: 2px;
    right: 5px;
}

.item.enhanced .itemWorldButton {
    opacity: 1;
    filter: grayscale(0%);
}

.item:not(.notOwned):hover .itemWorldButton, .item.enhanced .itemWorldButton, #itemEnhancement .itemWorldButton {
    display: block;
}

.itemList {
    overflow: hidden;
}

.itemSeparator {
    clear: both;
    overflow: hidden;
    margin: 30px 0 15px 0;
    text-align: center;
}

.typeJumpList {
    margin: 20px auto 0 auto;
    padding: 0 10px;
    font-size: 0.9em;
    clear: both;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.typeJumpList > span {
    color: #808080;
}

.typeJumpList > span,
.typeJumpList > a {
    margin: 4px 0;
}

.typeJumpList .typeJump {
    margin-left: 8px;
    padding: 5px;
    border: 1px solid #c8c8c8;
    background: #f7f7f7;
    border-radius: 4px;
    white-space: nowrap;
}

.typeJumpList .typeJump:hover {
    border: 1px solid #808080;
    background: #f0f0f0;
}

.typeJumpList .typeJump img {
    width: 18px;
    height: 18px;
}

.stats {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stats .statsGroup {
    flex-grow: 1;
    width: 100%;
    max-width: 180px;
    text-align: center;
}

.stats table {
    font-size: 1em;
    margin: 0 auto;
}

.stats table .itemType {
    width: 25px;
    text-align: center;
}

.stats table .itemType img {
    height: 18px;
    margin: 1px 4px;
}
.stats table .value,
.stats table .separator,
.stats table .total,
.stats table .number {
    text-align: right;
}

.stats table .separator {
    width: 20px;
}

.stats table .value,
.stats table .total {
    width: 30px;
}

.stats table .number {
    color: #808080;
    font-size: 0.9em;
    width: 50px;
}

a#exportLinks {
    position: absolute;
    top: 15px;
    left: 320px;
    z-index: 1;
    margin-left: 10px;
    padding: 4px 6px;
    border: 1px solid #c8c8c8;
    background: #f7f7f7;
    border-radius: 4px;
    white-space: nowrap;
}

a#exportLinks:hover {
    border: 1px solid #808080;
    background: #f0f0f0;
    text-decoration: none;
}

@media (min-width: 991px) {
    
    .stats .statsGroup.statsGroupMateria {
        border-bottom: 1px solid #f0f0f0;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

}

@media (max-width: 991px) {
    .farmable .farmedButton {
        display: block;
        position: absolute;
        bottom: 0;
        right: 30px;
        height: 45px;
        opacity: 0.8;
        filter: grayscale(100%);
    }
    
    .item:not(.notOwned) .excludeFromExpeditionButton {
        display: block;
        opacity: 0.8;
        filter: grayscale(100%);
    }
    
    .itemWorldButton {
        display: block;
    }
    
    .itemsWrapper {
        display: block;
    }

    .itemsSidebar {
        width: auto;
    }

    .itemsSidebar .itemsSidebarButton {
        margin: 5px 0 15px 0;
    }
    
    .itemsSidebar .itemsSidebarButton .glyphicon {
        transform: rotate(90deg);
    }

    .itemsSidebar.collapsed {
        width: auto;
    }

    .itemsSidebar.collapsed .toggle.btn .collapsedHidden,
    .itemsSidebar.collapsed .itemsSidebarButton .collapsedHidden {
        display: inline;
    }

    .itemsSidebar.collapsed .itemsSidebarButton .glyphicon {
        transform: rotate(-90deg);
    }

    .stats {
        margin-top: 0;
        margin-bottom: 20px;
        flex-direction: row;
    }

    .stats .statsGroup {
        padding: 0 4px;
    }
}

@media (max-width: 500px) {
    a#exportLinks {
        display: inline-block;
        position: relative;
        top: 0;
        left: 0;
        margin-left:10px;
        margin-bottom:10px;
    }
    
    .typeJumpList {
        padding: 0;
        margin: 0;
        margin-right: 5px;
    }
}

@media (max-width: 380px) {
    .stats {
        justify-content: center;
    }
}