.userInputedResultsChoice {
    float: right;
}

.userInputedResultsChoice label {
    font-weight: normal;
}

.inventory .number {
    color : white;
    margin-top: 1px;
    background-color: green;
}
.inventory .glyphicon {
    cursor: pointer;
    color: lightgray;
    font-size: 0.8em;
}
.inventory span {
    display: block;
    text-align: center;
}
.inventory.notPossessed .number, .inventory.notPossessed .glyphicon-minus {
    display: none;
}

#inventoryDiv.mobile {
    display: none;
}

#resultsDiv .panel-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.unit .input-group {
	width: 100%;
}

.unit .input-group-addon {
	width: 60px;
	padding: 0;
}

@media (max-width: 991px) {
    body, span, a, table, label, input, select, img, div {font-size: 40px!important; }
    #results .name a {font-size: 44px!important; }
    #results span, #results a, #results div, #results img{
		font-size: 36px!important;
	}
    #results span, #results a, #results div, #results img{
		font-size: 36px!important;
	}
    .form-control {height: 54px;}
    .choice .btn img {width: 64px;}
    #results img, #filterSummary img {width: 52px;}
    #results img.outclassedByIcon {width: 30px;}
    #results .tbody .tr .td, #results {
        border-top: 3px solid #ddd;
        padding-top: 20px;
    }
    #results img.miniIcon {
        width: 32px;
        margin-top: 24px;
        margin-left: 24px;
        border-radius: 14px;
    }
	#results .thead .special{
		display: none;
	}
    #results .type{
		width: 60px;
		float: left;
		display: block;
	}
    #results .type img {
        padding-top: 5px;
    }
    #results .value {
		width: 100px;
		float: left;
		display: block;
	}
	#results .tr .td.name{
		width: calc(100% - 160px);
		float: left;
		display: block;
        
	}
    #results .tbody .tr .td.name{
        padding-bottom: 0;
    }   
    #results.notSorted .tr .td.name{
        width: calc(100% - 60px);
    }
    #results .tr {
        position: relative;
    }
	#results .tbody .tr .td.access{
		width: 20%;
        top: 0;
        right: 0;
        vertical-align: top;
	}
	#results .tbody .tr .special{
        padding-top: 0;
        padding-left: 68px;
		width: 80%;
		float: left;
		display: block;
		border-top: none;
		clear: left;
	}
	
	#results .tbody .tr .special .specialImg{
		display: inline-block;
		margin-right: 10px;
        margin-bottom: 0;
	}
    
    .imageWithText {
        margin-right: 10px;
    }
    
    .unit .input-group-addon {
	   width: 100px;
    }
    
    .userInputedResultsChoice {
        float: none;
    }
    .userInputedResultsChoice input{
        margin-top: 13px;
        width: 30px;
        height: 30px;
    }
    .userInputedResultsChoice label{
        padding-left: 15px;
    }
    .ui-dialog h4 {font-size: 36px!important; }
    .ui-dialog h5 {font-size: 30px!important; }
    .ui-dialog {
        left:0 !important;
        width: 100% !important;
    }
    
    nav #inventoryStatus {
        display: none;
    }
    
    #navbar-header {
        flex-direction: row;
        align-items: center;
    }
    
    #navbar-header #navbar-brand:after{
        content: " :";
        margin-right: 10px;
        
    }
    
    #inventoryDiv .buttonDiv {
        height: 80px;
        margin-right: 15px;
    }
}

@media (min-width: 992px) {
    #advancedSearch {
        display: block !important;
    }
}