.unitList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    position: relative;
    height: 140px;
    width: 130px;
}

.unit.owned {
    background-color: #d2edf9;
}

.unit.owned.sevenStars {
    background-color: #F9D2DA;
}
.sevenStars .numberDiv .glyphicon {
    color: #F9D2DA;
}

.sevenStars .numberDiv .badge {
    background-color: #F9D2DA;
}

#mode {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

#mode .info {
    text-align: center;
    font-size: 85%;
}

.simpleMode .numberDiv .glyphicon {
    visibility: hidden;
}

.unit.notOwned {
    opacity: 0.3;
}
.unit .glyphicon-time {
    position: absolute;
    left: 9px;
    top: 5px;
    color: #999;
}

.unit:hover {
    background-color: #337ab7 !important;
}
.unit:hover .glyphicon-time {
    color: #fff;
}

.unitImageWrapper {
    height: 100px;
    width: 130px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.unitImage {
    max-height: 100px;
}

.unitRarity img {
    width: 16px;
    height: 16px;
    margin-left: 1px;
    margin-right: 1px;
}

.unitRarity {
    position: absolute;
    bottom: 5px;
}

.result-tab-pane {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#searchBox {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-tabs li {
    cursor: pointer;
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

#results.hackForImage {
    padding-bottom: 150px;
}
#results.hackForImage5 {
    padding-bottom: 20px;
}

.raritySeparator {
    margin-top: 30px;
}

.numberDiv {
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numberDiv .glyphicon {
    margin-bottom: 2px;
    color: #d2edf9;
}

.numberDiv .badge {
    background-color: #d2edf9;
    color: #337ab7;
    font-size: 1.2em;
}

.numberOwnedDiv {
    left: 5px;
}

.farmableTMRDiv {
    right: 5px;
}

.notOwned .numberDiv .glyphicon {
    color: white;
}

.notOwned .numberDiv .badge {
    color: white;
    background-color: white;
}

.notOwned:hover .numberDiv .glyphicon {
    color: #337ab7;
}

.notOwned:hover .numberDiv .badge {
    color: #337ab7;
    background-color: #337ab7;
}

#tabs .dropdown > .link {
    line-height: 58px;
    padding-left: 15px;
}

.explanation {
    position: absolute;
    top: 15px;
    right: 25px;
}

#exportLinks {
    position: absolute;
    top: 20px;
    left: 320px;
}


.readOnly .explanation.readOnly {
    display: block;
}

.readOnly .navbar, .readOnly #exportLinks, .readOnly .notOwned .numberDiv,.readOnly .explanation, .explanation.readOnly {
    display: none;
}

.readOnly .modifyCounterButton {
    visibility: hidden;
}

.readOnly .unit {
    cursor: default;
}
.readOnly .unit.notOwned:hover {
    background-color: #FFFFFF;
}
.readOnly .unit:hover {
    background-color: #d2edf9 !important;
}

.readOnly .unit:hover .glyphicon-time {
    color: #999;
}

.farmable:hover .farmedButton {
    display: block;
    position: absolute;
    top: -5px;
    right: -6px;
    height: 45px;
}

.awakenButton {
    height: 28px;
    position: absolute;
    top: 2px;
    left: 7px;
    display: none;
}

.awakenable:hover .awakenButton {
    display: block;
}

.stats {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats h4 {
    margin-top: 20px;
}

.stats .crystal {
    height: 24px;
    margin-right: 5px;
}

.stats .value {
    width: 30px;
    display: inline-block;
    justify-content: center;
    text-align: end;
    margin-right: 10px;
}

.stats .total {
    width: 30px;
    display: inline-block;
    justify-content: center;
    text-align: end;
}

.stats .number {
    width: 50px;
    display: inline-block;
    justify-content: center;
    text-align: end;
}

.star7 {
    position: relative;
}

.star7 .crystal {
    position: absolute;
    height: 20px;
    left: -4px;
}

.star7 .value {
    margin-left: 18px;
}

.unitName {
    position: absolute;
    bottom: 18px;
    height: 34px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 14px;
    text-align: center;
    font-weight: bold;
}