
#unitsWrapper {
    display: flex;
    align-items: stretch;
}

/* Avoid display:none for this one because it messes with the toggle button */
#unitsWrapper.hidden {
    display: block !important;
    position: absolute;
    left: -999999px;
    top: -999999px;
}

.unitsSidebar .unitsSidebarButton {
    display: block;
    border: 1px solid #c8c8c8;
    background: #f7f7f7;
    border-radius: 4px;
    padding: 6px;
    margin: 20px auto 0 auto;
    color: #747474;
    opacity: 0.5;
}

.unitsSidebar .unitsSidebarButton:hover {
    border: 1px solid #808080;
    background: #f0f0f0;
    opacity: 1;
}

.unitsContent {
    position: relative;
    flex-grow: 1;
}

.unitsSidebar {
    padding: 0 10px;
    overflow: hidden;
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    width: 250px;
    flex-basis: initial !important;
}

.unitsSidebar .unitsSidebarButton .glyphicon {
    transition: transform .3s;
}

.unitsSidebar.collapsed {
    width: 100px;
}

.unitsSidebar.collapsed .unitsSidebarButton {
    opacity: 0.85;
}

.unitsSidebar.collapsed .unitsSidebarButton .glyphicon {
    transform: rotate(180deg);
}

.unitsSidebar.collapsed .collapsedHidden {
    display: none;
}

.unitsSidebar .unitsSidebarInternal.fixed {
    position: fixed;
    top: 5px;
    left: 15px;
    z-index: 9999;
    padding: 0 10px;
}

.unitList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.unit {
    display: flex;
    border-radius: 10px;
    margin: 5px;
    position: relative;
    width: 300px;
    padding: 5px;
}

.unit.owned {
    background-color: #d2edf9;
}

.unit.owned.sevenStars {
    background-color: #F9D2DA;
}

.onlyOwnedUnits .unit.notOwned {
    display: none;
}

.onlyTimeLimited .unit:not(.timeLimited) {
    display: none;
}

.onlySevenStar .unit.notSevenStars{
    display: none;
}

.onlyTmrMoogles .unit:not(.tmrMoogles) {
    display: none;
}

.sevenStars .numberDiv .glyphicon {
    color: #F9D2DA;
}

.sevenStars .numberDiv .badge {
    background-color: #F9D2DA;
}

.badge.sevenStar {
    background-color: #ff8888;
}

.unit.notOwned .ownedNumberDiv,.unit.notOwned .secondColumn, .unit.notOwned .thirdColumn {
    opacity: 0.3;
}
.unit .glyphicon-time {
    color: #999;
    margin-left: 5px;
}

.unit:hover {
    background-color: #337ab7 !important;
}
.unit:hover .glyphicon-time {
    color: #fff;
}


.unitImage {
    margin-right: 5px;
    margin-left: 5px;
}

.unitRarity img {
    width: 10px;
    height: 10px;
    margin-left: 1px;
    margin-right: 1px;
}

.unitRarity {
    opacity: 0.6;
    display: flex;
}

.actions {
    margin-top: 5px;
    display: flex;
    align-items: center;
    visibility: hidden;
}

.unit:hover .actions {
    visibility: visible;
}

.actions > .glyphicon {
    font-size: 20px;
    background-color: aliceblue;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 1px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.result-tab-pane {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#searchBox {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-tabs li {
    cursor: pointer;
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#results.hackForImage {
    padding-bottom: 150px;
}
#results.hackForImage5 {
    padding-bottom: 20px;
}

.raritySeparator {
    margin-top: 30px;
    font-size: 2em;
}

.rarityJumpList {
    margin-top: 20px;
    font-size: 0.9em;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.rarityJumpList > span {
    color: #808080;
}

.rarityJumpList > span,
.rarityJumpList > a {
    margin: 5px 0;
}

.rarityJumpList .rarityJump {
    margin-left: 10px;
    padding: 4px 6px;
    border: 1px solid #c8c8c8;
    background: #f7f7f7;
    border-radius: 4px;
    white-space: nowrap;
}

.rarityJumpList .rarityJump:hover {
    border: 1px solid #808080;
    background: #f0f0f0;
}

.rarityJumpList .rarityJump img {
    width: 12px;
    height: 12px;
}

.numberDiv {
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numberDiv .glyphicon {
    margin-bottom: 2px;
    color: #d2edf9;
}

.numberDiv .badge {
    background-color: #d2edf9;
    color: #337ab7;
    font-size: 1.2em;
}

.ownedNumbers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50px;
    flex-shrink: 0;
}

.ownedNumber {
    font-weight: bold;
    font-size: 1.2em;
}

.numberOwnedDiv {
    left: 5px;
}


.secondColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1
}

.thirdColumn {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
    flex-shrink: 0;
}

.imageAndName {
    display: flex;
}

.farmableTMRDiv {
    right: 5px;
}

.filterOptions {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    flex-wrap: wrap;
    max-height: 64px;
}

.checkboxGroup {
    display: flex;
    align-items: center;
}

.checkboxGroup label {
    padding-left: 5px;
    margin-bottom: 0px;
    font-weight: 100;
}

.notOwned .numberDiv .glyphicon {
    color: white;
}

.notOwned .numberDiv .badge {
    color: white;
    background-color: white;
}

.notOwned:hover .numberDiv .glyphicon {
    color: #337ab7;
}

.notOwned:hover .numberDiv .badge {
    color: #337ab7;
    background-color: #337ab7;
}

#tabs .dropdown > .link {
    line-height: 58px;
    padding-left: 15px;
}

.readOnly #header, .readOnly #loginMessage, .readOnly .navbar, .readOnly #exportLinks, .readOnly .notOwned .numberDiv {
    display: none;
}

.readOnly .modifyCounterButton {
    visibility: hidden;
}

.readOnly #units {
    margin-top: 10px;
}

.readOnly .unit {
    cursor: default;
}
.readOnly .unit.notOwned:hover {
    background-color: #FFFFFF;
}
.readOnly .unit:hover {
    background-color: #d2edf9 !important;
}

.readOnly .unit:hover .glyphicon-time {
    color: #999;
}

.farmedButton {
    display: none;
    height: 44px;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: -5px;
    margin-right: -5px;
    cursor: pointer;
}

.farmable .farmedButton.tmr {
    display: block;
}

.farmableStmr .farmedButton.stmr {
    display: block;
}

.awakenButton {
    cursor: pointer;
    display: none;
}

.actions > .glyphicon.glyphicon-pencil {
    font-size: 16px;
    padding: 3px;
    height: 24px;
    width: 24px;
}

.unit.notOwned .awakenButton {
    display: none;
}

.awakenable .awakenButton {
    display: block;
} 

.stats {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats .statsGroup {
    flex-grow: 1;
    width: 100%;
    max-width: 180px;
    text-align: center;
}

.stats h4 {
    font-size: 1.2em;
    margin-top: 15px;
}

.stats table {
    font-size: 1em;
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
}

.stats table .crystal i {
    margin: 1px;
}

.stats table .crystal {
    width: 28px;
    text-align: center;
}

.stats table .value,
.stats table .total,
.stats table .separator,
.stats table .number {
    text-align: right;
    padding-left: 5px;
}

.stats table .number {
    color: #808080;
    font-size: 0.9em;
}

.unitNameAndRarity {
    display: flex;
    flex-direction: column;
}

.unitName {
    font-weight: bold;
}

.trustCounter {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.trustCounter.stmr {
    display: flex;
    opacity: 0.4;
}

.unit:not(.showStmr) .trustCounter.stmr {
    display: none;
}

.sevenStars .trustCounter.stmr {
    opacity: 1
}

.trustCounter.tmr {
    display: flex;
    opacity: 0.4
}

.owned .trustCounter.tmr {
    opacity: 1
}

.trustCounter .badge {
    margin-left: 3px;
}

.ownedNumbers .sevenStarNumber {
    display: none;
}

.sevenStars .ownedNumbers .sevenStarNumber {
    display: block;
}

.ownedNumbers .tmrMoogles {
    display: none;
    position: relative;
    padding-left: 22px;
}

.ownedNumbers .tmrMoogles img {
    width: 32px;
    position: absolute;
    top: -10px;
    left: -6px;
}

.ownedNumbers .tmrMoogles .ownedNumber {
    cursor: help;
}

.tmrMoogles .ownedNumbers .tmrMoogles {
    display: block;
}

.ui-tooltip {
    max-width: 600px !important;
}

.items .tbody .tr .td, .results {
    border-top: none !important;
}

.unit .tmr, .unit .stmr {
    cursor: help;
}

.linkActions {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.linkActions .action {
    margin-right: 15px;
}

#exportLinks {
    padding: 4px 6px;
    border: 1px solid #c8c8c8;
    border-top-color: rgb(200, 200, 200);
    border-right-color: rgb(200, 200, 200);
    border-bottom-color: rgb(200, 200, 200);
    border-left-color: rgb(200, 200, 200);
    background: #f7f7f7;
    background-color: rgb(247, 247, 247);
    border-radius: 4px;
    white-space: nowrap;
}

/* For small screen, show stats in line and mode fixed lower right */
@media (max-width: 768px) {
    
    .actions {
        visibility: visible;
    }   
    
    #unitsWrapper {
        display: block;
    }

    .unitsSidebar {
        width: auto;
    }

    .unitsSidebar .unitsSidebarButton {
        margin: 5px 0 15px 0;
    }
    
    .unitsSidebar .unitsSidebarButton .glyphicon {
        transform: rotate(90deg);
    }

    .unitsSidebar.collapsed {
        width: auto;
    }

    .unitsSidebar.collapsed .toggle.btn .collapsedHidden,
    .unitsSidebar.collapsed .unitsSidebarButton .collapsedHidden {
        display: inline;
    }

    .unitsSidebar.collapsed .unitsSidebarButton .glyphicon {
        transform: rotate(-90deg);
    }

    .stats {
        margin-top: 0;
        margin-bottom: 20px;
        flex-direction: row;
    }

    .stats .statsGroup {
        width: auto;
        max-width: none;
        padding: 0 4px;
    }

    .stats table {
        max-width: 150px;
    }

    .stats h4 {
        margin-top: 0;
    }
    
    #exportLinks a.dropdown-toggle {
        padding: 6px 8px;
    }
    
    /* Adapt scroll button with mode toggle selector */
    #scrollToTopButton.withToggleSelector {
        bottom: 67px; /* 20px margin + 37px height + 10px */
        right: 15px; 
    }

    .unit .numberDiv .glyphicon {
        color: #337ab7;
    }

    .unit:hover .numberDiv .glyphicon {
        color: #d2edf9;
    }
    
    .unit.sevenStars .numberDiv .glyphicon {
        color: #A67D85;
    }
    
    .unit.sevenStars:hover .numberDiv .glyphicon {
        color: #F9D2DA;
    }
    
    .farmable .farmedButton,
    .awakenable .awakenButton {
        display: block;
    }
}


@media (min-width: 1200px) {
    .unitsContent {
        max-width: 85%;
    }
}

@media (max-width: 1200px) {
    .unitsSidebar .unitsSidebarInternal.fixed {
        left: 0px;
    }
}

@media (max-width: 550px) {
    .stats {
        font-size: 0.75em;
    }

    .stats table {
        max-width: 120px;
    }

    .stats table .crystal {
        width: 22px;
    }

    .stats table .value,
    .stats table .total,
    .stats table .separator,
    .stats table .number {
        padding-left: 2px;
    }

    .explanation {
        display: none;
    }
    
    #exportLinks .text {
        display: inline-block !important;
    }
}
