.unitList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    position: relative;
}

.unit.owned {
    background-color: #d2edf9;
}
.unit.notOwned {
    opacity: 0.3;
}

.unit:hover {
    background-color: #337ab7;
}

.unitImageWrapper {
    height: 100px;
    width: 130px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.unitImage {
    max-height: 100px;
}

.unitRarity img {
    width: 16px;
    height: 16px;
    margin-left: 1px;
    margin-right: 1px;
}

.unitRarity {
    margin-bottom: 5px;
}

.result-tab-pane {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#searchBox {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-tabs li {
    cursor: pointer;
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

#results.hachForImage {
    padding-bottom: 150px;
}

.raritySeparator {
    margin-top: 30px;
}

.numberDiv {
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numberDiv .glyphicon {
    margin-bottom: 2px;
    color: #d2edf9;
}

.numberDiv .badge {
    background-color: #d2edf9;
    color: #337ab7;
    font-size: 1.2em;
}

.numberOwnedDiv {
    left: 5px;
}

.farmableTMRDiv {
    right: 5px;
}

.notOwned .numberDiv .glyphicon {
    color: white;
}

.notOwned .numberDiv .badge {
    color: white;
    background-color: white;
}

.notOwned:hover .numberDiv .glyphicon {
    color: #337ab7;
}

.notOwned:hover .numberDiv .badge {
    color: #337ab7;
    background-color: #337ab7;
}

#tabs .dropdown > .link {
    line-height: 58px;
    padding-left: 15px;
}

.explanation {
    position: absolute;
    top: 15px;
    right: 25px;
}

#exportLinks {
    position: absolute;
    top: 20px;
    left: 320px;
}