.unit {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

.unitImage {
    padding: 5px;
}

.unitName {
    font-weight: bold;
}

.elementalResistances img {
    width: 30px;
    margin-right: 2px;
}

.elementalResistance {
    margin-right: 5px;
    opacity: 0.5;
}

.elementalResistance.selected {
    opacity: 1;
}

.ailmentResistances img {
    width: 30px;
    margin-right: 2px;
}

.ailmentResistance {
    margin-right: 5px;
    opacity: 0.5;
}

.ailmentResistance.selected {
    opacity: 1;
}

.killerValueGroup {
    opacity: 0.5;
}

.killerValueGroup.selected {
    opacity: 1;
}

.skill {
    display: flex;
}

.skill .skillIcon {
    width: 45px;
}

.subSkill {
    display: flex;
}

.subSkill .percent {
    margin-top: 14px;
}

.subSkill .case {
    margin-top: 3px;
    width: 40px;
}

.subFilter {
    float: right;
    display: flex;
    align-items: center;
}

.nameAndEffects {
    display: flex;
    flex-direction: column;
    font-size: 90%;
    padding-top: 5px;
}

.nameAndEffects .name {
    font-weight: bold;
}

#results .selected {
    font-weight: bold;
}

.panel-heading .choice {
    float: right;
    margin-left: 10px;
    margin-top: -4px;
}