.unit {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    position: relative;
}

.unitImage {
    padding: 5px;
}

.unitName {
    font-weight: bold;
}

.elementalResistances i.img {
    width: 30px;
    height: 30px;
    margin-right: 2px;
}

.elementalResistance {
    margin-right: 5px;
    opacity: 0.5;
}

.elementalResistance.selected {
    opacity: 1;
}

.ailmentResistances i.img {
    width: 30px;
    height: 30px;
    margin-right: 2px;
}

.ailmentResistance {
    margin-right: 5px;
    opacity: 0.5;
}

.ailmentResistance.selected {
    opacity: 1;
}

.killerValueGroup {
    opacity: 0.5;
}

.killerValueGroup.selected {
    opacity: 1;
}

.skill {
    display: flex;
}

.skill .skillIcon {
    width: 45px;
    height: 45px;
}

.subSkill {
    display: flex;
}

.subSkill .percent {
    margin-top: 14px;
}

.subSkill .case {
    margin-top: 3px;
    width: 40px;
}

.panel-heading .filters {
    float: right;
    display: flex;
    align-items: center;
}

.nameAndEffects {
    display: flex;
    flex-direction: column;
    font-size: 90%;
    padding-top: 5px;
    width: 100%;
}

.nameAndEffects .name {
    font-weight: bold;
}

#results .selected {
    font-weight: bold;
}

#results i.img {
    width: 30px;
    height: 30px;
}

#results i.img.miniIcon {
    width: 18px;
    height: 18px;
    margin-top: 14px;
    margin-left: 15px;
}

.panel-heading .choice {
    margin-left: 10px;
    margin-top: -4px;
}

.killers .choice i.img {
    width: 42px;
    height: 42px;
}

.unitDescriptionLines .killers i.img {
    width: 33px;
    height: 33px;
}

.showAllSkills {
    position: absolute;
    left: 28px;
    top: 44px;
    cursor: pointer;
}

.nameLine {
    display: flex;
    justify-content: space-between;
}

.unit .rarity {
    margin-right: 5px;
}

.unitDescriptionLines {
    width: 100%;
}

.passives {
    width: 100%;
}

.actives {
    width: 100%;
}
