.unit {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    position: relative;
}

.unitImage {
    padding: 5px;
}

.unitName {
    font-weight: bold;
}

.elementalResistances i.img {
    width: 30px;
    height: 30px;
    margin-right: 2px;
}

.elementalResistance {
    margin-right: 5px;
    opacity: 0.5;
}

.elementalResistance.selected {
    opacity: 1;
}

.ailmentResistances i.img {
    width: 30px;
    height: 30px;
    margin-right: 2px;
}

.ailmentResistance {
    margin-right: 5px;
    opacity: 0.5;
}

.ailmentResistance.selected {
    opacity: 1;
}

.killerValueGroup {
    opacity: 0.5;
}

.killerValueGroup.selected {
    opacity: 1;
}

.skill {
    display: flex;
    margin-bottom: 10px;
}

.skill .skillIcon {
    width: 45px;
    height: 45px;
}

.subSkill {
    display: flex;
}

.subSkill .percent {
    margin-top: 14px;
}

.subSkill .case {
    margin-top: 3px;
    width: 40px;
}

.panel-heading .filters {
    float: right;
    display: flex;
    align-items: center;
}

.nameAndEffects {
    display: flex;
    flex-direction: column;
    font-size: 90%;
    padding-top: 5px;
    width: 100%;
}

.nameAndEffects .name {
    font-weight: bold;
    font-size: 1.1em;
}

#results .selected {
    font-weight: bold;
}

#results i.img {
    width: 30px;
    height: 30px;
}

#results i.img.miniIcon {
    width: 18px;
    height: 18px;
    margin-top: 14px;
    margin-left: 15px;
}

.panel-heading .choice {
    margin-left: 10px;
    margin-top: -4px;
}

.killers .choice i.img {
    width: 42px;
    height: 42px;
}

.unitDescriptionLines .killers i.img {
    width: 33px;
    height: 33px;
}

.showAllSkills {
    position: absolute;
    left: 28px;
    top: 44px;
    cursor: pointer;
}

.nameLine {
    display: flex;
    justify-content: space-between;
}

.unit .rarity {
    margin-right: 5px;
}

.unitDescriptionLines {
    width: 100%;
}

.passives {
    width: 100%;
    border-radius: 20px;
    border-left: 1px solid white;
    margin-left: -20px;
    padding-left: 20px;
    position: relative;
}
.passives:before {
    content: 'Passives';
    position: sticky;
    top:0;
    left:0;
}

.actives {
    width: 100%;
}

.rarity .panel-body {
    display: flex;
}

.rarity .subTitle {
    width: 50px;
    margin-right: 5px;
}

.rarity .baseRarity {
    margin-right: 15px;
}

.effect {
    position: relative;
    padding-left: 10px;
    margin-bottom: 3px;
}

.effect:after {
    content: '\f111';
    position: absolute;
    left: 0;
    top: 4px;
    font-family: "Font Awesome 5 Pro";
    font-weight: bold;
    font-size: 0.5em;
}

#results .nameAndEffects .name i.img {
    width: 28px;
    height: 28px;
    margin-top: -3px;
    margin-right: 2px;
    margin-left: 2px;
}

#results .chainFamily {
    margin-left: 2px;
    position: relative;
    padding-left: 16px;
    color: #333;
}

#results .chainFamily .bullet {
    font-size: 1.3em;
    position: absolute;
    left: 0;
    top: -4px;
}

.strangeStatsUsed {
    position: relative;
    padding-left: 12px;
}

.strangeStatsUsed i {
    position: absolute;
    left: -4px;
    top: 2px;
}

.strangeStatsUsed .stat, .strangeStatsUsed .monsterStat {
    font-weight: bold;
    background-color: #777;
    border-radius: 4px;
    padding: 2px;
    color: white;
    text-transform: uppercase;
}

.chainFamily select {
    width: initial;
}

.chainFamily .line {
    display: flex;
    align-items: center;
}

.chainFamily .line .title{
    width: 110px;
}

.unlockedBy {
    position: relative;
    padding-left: 12px;
}

.unlockedBy i {
    position: absolute;
    left: -4px;
    top: 2px;
}

.skillGroup {
    border-radius: 20px;
    border-left: 1px solid #aaa;
    margin-left: -27px;
    padding-left: 27px;
    position: relative;
    min-height: 150px;
}


.skillGroup:before {   
    position: sticky;
    top: 0;
    left: 0;
    text-orientation: upright;
    writing-mode: tb;
    text-transform: uppercase;
    margin-left: -24px;
    float: left;
    margin-top: 6px;
    background-color: lightgray;
    color: gray;
    border-radius: 20px;
    padding: 5px 2px;
    font-weight: bold;
    margin-bottom: 7px;
}

.passives:before {
    content: 'Passives';
}

.actives:before {
    content: 'Actives';
}

.magics:before {
    content: 'Magics';
}

.excludeUnlockedMulticast {
    margin-left: 10px;
}
.excludeUnlockedMulticast label{
    margin-bottom: 0;
}