.unit {
    display: flex;
    margin-bottom: 10px;
}

.unitImage {
    padding: 5px;
}

.unitName {
    font-weight: bold;
}

.elementalResistances img {
    width: 30px;
    margin-right: 2px;
}

.elementalResistance {
    margin-right: 5px;
}