Alias /.well-known/acme-challenge/ /var/www/acme/.well-known/acme-challenge/
<Directory "/var/www/acme/.well-known/acme-challenge/">
    Options None
    AllowOverride None
    ForceType text/plain
</Directory>
