<VirtualHost *:{{ http_port }}>
	ServerName {{ server_name|lower }}

	RewriteEngine On
	RewriteCond %{REQUEST_URI} !^/\.well\-known/acme\-challenge/
	RewriteRule (.*) https://{{ server_name|lower }}%{REQUEST_URI} [R=301,L]
</VirtualHost>
<VirtualHost *:{{ https_port }}>
	ServerName {{ server_name|lower }}
	
	# Remove the footer from error pages
	ServerSignature Off

	SSLEngine On
	SSLCertificateFile /etc/apache2/ssl/{{ server_name|lower }}.fullchain.cer
	SSLCertificateKeyFile /etc/apache2/ssl/{{ server_name|lower }}.key

	ProxyPreserveHost On
	ProxyPass /.well-known !
	ProxyPass / {{ backend_url }}
	ProxyPassReverse / {{ backend_url }}

	CustomLog ${APACHE_LOG_DIR}/{{ server_name|lower }}.log combined
</VirtualHost>
