<VirtualHost *:{{ http_port }}>
	ServerName {{ item|lower }}

	RewriteEngine On
	RewriteCond %{REQUEST_URI} !^/\.well\-known/acme\-challenge/
	RewriteRule (.*) https://{{ server_name|lower }}%{REQUEST_URI} [R=301,L]
</VirtualHost>
<VirtualHost *:{{ https_port }}>
	ServerName {{ item|lower }}

	SSLEngine On
	SSLCertificateFile /etc/apache2/ssl/{{ item|lower }}.fullchain.cer
	SSLCertificateKeyFile /etc/apache2/ssl/{{ item|lower }}.key

	Header always set Strict-Transport-Security "max-age=15768000"

	RewriteEngine On
	RewriteCond %{REQUEST_URI} !^/\.well\-known/acme\-challenge/
	RewriteRule (.*) https://{{ server_name|lower }}%{REQUEST_URI} [R=301,L]
</VirtualHost>
